@media screen and (max-width: 719px) { .briefing .sliderbriefing .wrapperslider, .objetozoom .sliderzoom .wrapperslider { width: calc(100vw - 20px); }
  .notamedianaslider { padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid #d4d6d7; }
  .notamedianaslider .notamediana { padding-bottom: 10px; margin-bottom: 0; border: 0; }
  .notamedianaslider .wrapperslider { width: 100vw; }
  .notamedianaslider .swiper-button-next { margin-right: 10px; }
  .notamedianaslider .swiper-button-prev { margin-left: 10px; }
  .notamedianaslider .swiper-pagination { padding-right: 10px; } }

@media screen and (max-width: 320px) { .filtroderesultados { width: 200px; }
  .filtroderesultados .columna .tipofiltro .itemsfiltromitad ul li { width: 100%; } }

@media screen and (min-width: 500px) { .menuflotante .wrappermenu .seccionesprincipal { width: calc(50% - 15px); float: left; }
  .menuflotante .wrappermenu .seccionessecundarias { width: calc(50% - 15px); float: right; } }

@media screen and (min-width: 720px) { .box { height: 340px; width: 300px; float: left; margin-left: 10px; margin-right: 10px; margin-bottom: 30px; overflow: hidden; border-bottom: 1px solid #d4d6d7; }
  .boxdoble { height: 340px; width: 620px; float: left; margin-left: 10px; margin-right: 10px; margin-bottom: 30px; overflow: hidden; border-bottom: 1px solid #d4d6d7; }
  .bannerdoble { width: 620px; margin-bottom: 30px; border-bottom: 1px solid #d4d6d7; padding-bottom: 15px !important; }
  .bloquenotas, .desarrollonota, .objetosmedio, .objetoexplora { width: 640px; }
  .contenido .bloquenotas .titulobloque { margin-left: 10px; text-indent: 0px; }
  .alerta { height: 40px; }
  .alerta .tituloalerta { line-height: 40px; }
  .alerta .textoalerta { line-height: 40px; padding-top: 0; padding-bottom: 0; }
  .briefing { padding-left: 10px; padding-right: 10px; padding-top: 0; margin-left: 10px; margin-right: 10px; float: left; }
  .briefing .tituloseccion { padding-top: 10px; }
  .briefing .sliderbriefing .wrapperslider { width: calc(620px/2 - 40px); }
  .notamedianaslider .notamediana { border: 0; margin-bottom: 0; padding-bottom: 0; }
  .notamedianaslider .notamediana .volanta { width: 100%; padding-left: 0; padding-right: 0; }
  .notamedianaslider .notamediana .titulo { width: 100%; padding-left: 0; padding-right: 0; font-size: 19px; line-height: 24px; }
  .objetozoom { width: 620px; height: auto; padding-top: 20px; padding-bottom: 20px; }
  .objetozoom .sliderzoom .wrapperslider { width: 580px; }
  .notamedianaslider .wrapperslider { width: calc(620px / 2 - 10px); }
  .notaprincipal1 { width: 620px; margin-bottom: 30px; padding-bottom: 30px; }
  .notaprincipal1 .titulo { margin-bottom: 20px; }
  .notaprincipal1 .imagen { width: 50%; float: left; padding-right: 10px; margin-bottom: 0px; }
  .notaprincipal1 .bajada { width: 50%; padding-left: 10px; padding-right: 0; float: left; text-align: left; }
  .notaprincipal1 .tiemposhare { width: 50%; padding-left: 10px; float: right; }
  .tiemposhare { width: 100%; padding-left: 0; padding-right: 0; }
  .notaschicas .notachica { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 0; height: 150px; position: relative; padding: 0; }
  .notaschicas .notachica .volanta { width: 100%; padding-left: 0; padding-right: 0; }
  .notaschicas .notachica .titulo { width: 100%; padding-left: 0; padding-right: 0; font-size: 17px; line-height: 21px; }
  .notaschicas .notachica .tituloangosto { padding: 0; width: calc(80% - 10px); font-size: 17px; line-height: 21px; }
  .notaschicas .notachica .imagen { margin-left: 10px; margin-right: 0; }
  .notaschicas .notachica .imagen img { height: 60px; }
  .notaschicas .notachica .playeraudio { width: 100%; padding-left: 0; padding-right: 0; }
  .notaschicas .notachica .tiemposhare { position: absolute; bottom: 5px; }
  .notamediana { padding-bottom: 20px; margin-bottom: 30px; }
  .notamediana .volanta { width: 100%; padding-left: 0; padding-right: 0; }
  .notamediana .titulo { width: 100%; padding-left: 0; padding-right: 0; font-size: 19px; line-height: 24px; }
  .banner { padding: 0; background-color: transparent; float: left; margin-bottom: 30px; }
  .bannervertical { width: 300px; height: 710px; padding: 0; background-color: transparent; float: left; margin-left: 10px; margin-right: 10px; margin-bottom: 30px; border-bottom: 1px solid #d4d6d7; }
  .bannerwide { width: 100%; background-color: whitesmoke; padding-bottom: 15px; padding-top: 15px; }
  .notaopinion { width: calc(50% - 20px); margin-right: 10px; margin-left: 10px; display: table; margin-bottom: 30px; }
  .notaopinion .tituloseccion { text-indent: 0; }
  .notaopinion .imagen { margin: 10px; float: left; width: 40%; }
  .notaopinion .textos { padding-top: 10px; }
  .notaopinion .textos .titulo { font-size: 20px; line-height: 23px; }
  .notaopinion .textos .bajada { font-size: 15px; }
  .notaopinion .textos .autor { font-size: 15px; }
  .notaopinion .tiemposhare { padding-left: 10px; padding-right: 10px; }
  .notainsider .tituloseccion { text-indent: 0; }
  .notalobocity { /*width: calc(50% - 20px);*/ margin-right: 10px; margin-left: 10px; display: table; margin-bottom: 30px; }
  .notalobocity .tituloseccion { text-indent: 0; }
  .notalobocity .imagen { height: 150px; }
  .notalobocity .textos { padding-top: 10px; }
  .notalobocity .textos .titulo { font-size: 20px; line-height: 23px; }
  .notalobocity .textos .bajada { font-size: 15px; }
  .notalobocity .textos .autor { font-size: 15px; }
  .notalobocity .tiemposhare { padding-left: 10px; padding-right: 10px; }
  .objetovideo .tituloseccion { text-indent: 0; }
  .objetovideo .titulo { width: 100%; padding-left: 0; padding-right: 0; font-size: 17px; line-height: 21px; }
  .objetovideo .video video { height: 165px; }
  .objetolomasleido .tituloseccion { text-indent: 0; }
  .objetolomasleido .items { column-count: 2; -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ }
  .objetolomasleido .items .item { width: 100%; height: 145px; display: inline-block; }
  .objetolomasleido .items .item .numero { padding-left: 0; text-align: center; }
  .objetolomasleido .items .item .imagen { width: 80px; margin: 0; }
  .objetolomasleido .items .item .textos { width: calc(100% - 110px); }
  .objetoespecial .tituloseccion { text-indent: 0; }
  .objetoespecial .notagrande { width: 40%; padding-right: 10px; float: left; }
  .objetoespecial .notagrande .textos { padding-top: 10px; padding-bottom: 10px; }
  .objetoespecial .notagrande .textos .titulo { font-size: 16px; line-height: 19px; }
  .objetoespecial .notasdobles { width: calc(60% + 10px); margin-right: -10px; margin-top: 0; float: left; overflow: hidden; }
  .objetoespecial .notasdobles .notadoble { width: 50%; }
  .objetofrase .lafrase { width: 100%; padding-left: 10px; padding-right: 10px; text-align: center; }
  .objetofrase .autor { width: 100%; padding-left: 10px; padding-right: 10px; }
  .objetofrase .autor .foto { width: 30%; float: none; margin: 0 auto; }
  .objetofrase .autor .nombre { width: 100%; margin: 0 auto; text-align: center; }
  .objetofrase .autor .share { margin-top: 0; float: right; }
  .objetoinfografia { margin-bottom: 30px; }
  .objetoinfografia .imagen { width: 50%; float: left; padding-right: 20px; padding-left: 10px; }
  .objetoinfografia .titulo { font-size: 22px; line-height: 27px; }
  .objetoinfografia .tiemposhare { padding-left: 10px; padding-right: 10px; }
  .objetoeldato { position: relative; padding-top: 20px; }
  .objetoeldato .textos .dato { width: 100%; text-align: center; font-size: 100px; line-height: 80px; }
  .objetoeldato .textos .descripcion { width: 100%; padding-left: 10px; padding-right: 10px; text-align: center; margin-top: 20px; font-size: 17px; }
  .objetoeldato .tiemposhare { padding-right: 10px; padding-left: 10px; position: absolute; bottom: 20px; }
  .objetocomentario { position: relative; padding-bottom: 20px; padding-right: 0; padding-left: 0; margin-bottom: 30px; }
  .objetocomentario .tituloseccion { text-indent: 0; margin-left: 0; }
  .objetocomentario .titulo { width: 100%; padding: 0; }
  .objetocomentario .bajada { width: 100%; padding: 0; }
  .objetocomentario .imagen { display: none; }
  .objetocomentario .tiemposhare { position: absolute; bottom: 20px; }
  .objetorecreo { padding-bottom: 0; }
  .objetorecreo .notagrande { width: 60%; padding-right: 10px; float: left; }
  .objetorecreo .notasdobles { width: 40%; float: left; margin-top: 0; }
  .objetorecreo .notasdobles .notadoble { width: 100%; }
  .objetorecreo .notasdobles .notadoble .textos { margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .lomasleido .tituloseccion { margin-left: 0px; text-indent: 0px; }
  .lomasleido .items { column-count: 2; -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-gap: 20px; -webkit-column-gap: 20px; /* Chrome, Safari, Opera */ -moz-column-gap: 20px; /* Firefox */ display: block; }
  .lomasleido .items .itemmasleido { width: 100%; height: 175px; display: inline-block; }
  .lomasleido .items .itemmasleido .titulo { font-size: 17px; line-height: 21px; }
  .lomasleido .items .itemmasleido .imagen img { height: 85px; }
  .massobreseccion .titulomasseccion { margin-left: 10px; text-indent: 0px; }
  .objetosinferiores .objetoexplora .tituloseccion { margin-left: 0px; text-indent: 0px; }
  .objetofrase { border: 0; }
  .objetoinfografia { border: 0; }
  .objetolomasleido { border: 0; }
  .objetorelacionadas { padding-top: 20px; padding-bottom: 20px; margin-bottom: 30px; }
  .objetorelacionadas .items .item { width: 25%; }
  .filtroderesultados { width: 600px; }
  .filtroderesultados .columna { width: calc(50% - 30px); margin-right: 30px; }
  .notagrandevideo { width: 600px; }
  .notagrandevideo .textos { width: 60%; padding-left: 20px; }
  .notagrandevideo .video { width: 40%; }
  .objetopersonaje .titulo { padding: 0; }
  .objetopersonaje .bajada { padding: 0; }
  .objetopersonaje .imagen { display: none; }
  .notaprincipalinsider { width: 620px; }
  .notaprincipalinsider .titulo { text-align: left; }
  .notaprincipalinsider .imagen { width: 50%; float: left; padding-right: 10px; padding-left: 10px; margin-bottom: 0px; }
  .notaprincipalinsider .bajada { width: 50%; padding-left: 10px; padding-right: 10px; float: left; text-align: left; }
  .notaprincipalinsider .tiemposhare { width: 50%; padding-left: 10px; padding-right: 10px; float: right; }
  .alertaswrapper .bloquecontenido .items .item .imagen { width: 80px; height: 80px; }
  .alertaswrapper .bloquecontenido .items .item .textos { width: calc(100% - 210px); }
  .alertaswrapper .bloquecontenido .items .item .textos .titulo { font-size: 20px; line-height: 22px; }
  .notavideohome .notagrande { width: 60%; border-bottom: 0; padding-right: 15px; border-right: 1px solid #4b4b4b; padding-bottom: 0px; }
  .notavideohome .notagrande .titulo { font-size: 37px; line-height: 40px; letter-spacing: -1px; padding-bottom: 10px; }
  .notavideohome .notasimple { width: 40%; padding-left: 15px; }
  .notavideohome .elvideo { margin-bottom: 20px; }
  .notavideohome .notavideohomeespecial .notasimpleesp { width: 50%; float: left; height: 150px; position: relative; }
  .notahomebomba .notagrande { position: relative; }
  .notahomebomba .notagrande .titulo { margin-bottom: 15px; font-size: 30px; line-height: 34px; }
  .notahomebomba .notagrande .bajada { width: calc(100% - 310px); float: right; }
  .notahomebomba .notagrande .imagen { width: 290px; float: left; margin-bottom: 0; }
  .notahomebomba .notagrande .tiemposhare { width: calc(100% - 330px); float: right; position: absolute; bottom: 40px; right: 10px; }
  .notahomebomba .masnotasbomba .notamasgrande { position: relative; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen { width: calc(50% - 10px); float: right; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen .imagenwide { display: none; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen .imagencuadrada { display: block; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen .imagencuadrada img { height: 300px; object-fit: cover; }
  .notahomebomba .masnotasbomba .notamasgrande .volanta { width: calc(50% - 10px); float: left; margin-bottom: 10px; }
  .notahomebomba .masnotasbomba .notamasgrande .titulo { width: calc(50% - 10px); float: left; }
  .notahomebomba .masnotasbomba .notamasgrande .bajada { width: calc(50% - 10px); float: left; }
  .notahomebomba .masnotasbomba .notamasgrande .tiemposhare { width: calc(50% - 20px); float: left; position: absolute; bottom: 40px; }
  .notahomebomba .masnotasbomba .notamasmediana { width: 50%; height: 330px; border-right: 1px solid #4b4b4b; float: left; border-bottom: 0; margin-bottom: 0; padding-bottom: 0; padding-top: 0; position: relative; }
  .notahomebomba .masnotasbomba .notamasmediana .tiemposhare { width: calc(100% - 20px); position: absolute; bottom: 0px; }
  .notahomebomba .masnotasbomba .notasmassimples { width: 50%; float: left; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple { padding-bottom: 0px; margin-bottom: 30px; position: relative; height: 155px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple .titulo { font-size: 17px; line-height: 21px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple .tiemposhare { width: calc(100% - 20px); position: absolute; bottom: 10px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimpleultima { margin-bottom: 0; padding-bottom: 0; }
  .notahomebombasimple .notagrande { width: 620px; margin-left: 10px; margin-right: 10px; }
  .notahomebombasimple .notamedianabombasimple { margin-bottom: 30px; padding-bottom: 0; }
  .notahomebombasimple .notamedianabombasimple .volanta { padding: 0; }
  .notahomebombasimple .notamedianabombasimple .titulo { padding: 0; font-size: 19px; line-height: 24px; }
  .notahomebombasimple .notaschicasbombasimple .notachica { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 0; height: 150px; position: relative; padding: 0; }
  .notahomebombasimple .notaschicasbombasimple .notachica .volanta { padding: 0; }
  .notahomebombasimple .notaschicasbombasimple .notachica .titulo { padding: 0; font-size: 17px; line-height: 21px; }
  .notahomebombasimple .notaschicasbombasimpleosc { padding-top: 15px; }
  .notahomebombasimple .notaschicasbombasimpleosc .notachica { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 0; height: 150px; position: relative; padding: 0; }
  .notahomebombasimple .notaschicasbombasimpleosc .notachica .titulo { font-size: 16px; line-height: 20px; }
  .notahomebombasimple .notaschicasbombasimpleosc .notachica .tiemposhare { padding-left: 10px; padding-right: 10px; } }

@media screen and (min-width: 1024px) { #compartir { width: 600px; }
  #compartir ul { width: 600px; }
  #indicenotas { width: 600px; }
  #indicenotas ul li { width: 600px; }
  .menuflotante { height: auto; }
  .cabezalgrande { display: block; width: 960px; }
  .cabezalmobile .botonmenu { background-size: 14px; background-color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
  .cabezalmobile .botonmenuclose { background-size: 14px !important; }
  .cabezalmobile .botonbuscador { background-size: 14px; background-color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
  .cabezalmobilenv2 { width: 960px; margin: 0 auto; border-top: 2px solid #1c1c1c; }
  .alerta { width: 960px; margin: 0 auto 40px auto; }
  .bloquenotas, .objetoexplora { width: 960px; }
  .desarrollonota { width: 600px; float: left; }
  .objetosmedio { width: 320px; float: right; }
  .lomasleido .items { column-count: 1; -webkit-column-count: 1; /* Chrome, Safari, Opera */ -moz-column-count: 1; /* Firefox */ }
  .objetoespecial { width: 620px; height: 340px; float: left; }
  .objetozoom { height: 340px; }
  .objetozoom .sliderzoom .wrapperslider .slides .lanotachica .imagen { max-height: 125px; overflow: hidden; }
  .objetolomasleido { border: 0; }
  .objetolomasleido .items .item { height: 120px; }
  .objetolomasleido .items .item .textos { padding: 0; width: calc(100% - 100px); }
  .objetolomasleido .items .item .textos .titulo { font-size: 16px; }
  .objetolomasleido .items .item .imagen { width: 60px; }
  .objetolomasleido .items .item .imagen img { height: 60px; }
  .objetovideo .video video { height: auto; }
  .objetorecreo .notagrande { width: 50%; }
  .objetorecreo .notagrande .imagen { max-height: 245px; }
  .objetorecreo .notagrande .imagen img { height: 245px; min-height: 245px; }
  .objetorecreo .notasdobles { width: 50%; }
  .objetorecreo .notasdobles .notadoble .imagen { display: none; }
  .objetoexplora .listado ul li { width: 50%; float: left; }
  .notaprincipal1 .volanta { text-align: left; padding-left: 0px; }
  .notaprincipal1 .titulo { text-align: left; padding-left: 0px; }
  .cabezalmobile { background-color: #2d2d2d; border-bottom: 0; }
  .cabezalmobile .seccionesexpandido { display: block; }
  .cabezalmobile .logotipo { display: none; }
  .cabezalmobile .logotipoblanco { display: none; }
  .cabezalmobile .desktop { display: block; }
  .buscador { width: 100%; }
  .bannertop { width: 960px; float: none !important; }
  .rsswrapper .bloque1 { width: 300px; float: left; margin-right: 40px; }
  .rsswrapper .bloque2 { width: calc(100% - 340px); float: left; }
  .rsswrapper .bloque2 .listaresultados { -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2; -webkit-column-gap: 40px; /* Chrome, Safari, Opera */ -moz-column-gap: 40px; /* Firefox */ column-gap: 40px; }
  .rsswrapper .bloque2 .listaresultados .item { padding-bottom: 15px; margin-bottom: 15px; }
  .buscadorwrapper .listaresultados { -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2; -webkit-column-gap: 40px; /* Chrome, Safari, Opera */ -moz-column-gap: 40px; /* Firefox */ column-gap: 40px; }
  .buscadorwrapper .listaresultados .item { min-height: 150px; }
  .tituloprincipalseccion { font-size: 40px; text-indent: 0; margin-left: 10px; margin-bottom: 45px; }
  .suscripcionwrapper .bloquecontenido { max-width: 100%; padding-left: 30px; padding-right: 30px; }
  .suscripcionwrapper .bloquecontenido .cajasuscripcion { float: left; width: calc(100% - 20px); }
  .suscripcionwrapper .bloquecontenido .cajasuscripcion ul li { width: 50%; float: left; }
  .suscripcionwrapper .bloquecontenido .botonconfigurartipo { text-align: left; }
  .suscripcionwrapper .bloquemail { width: 65%; display: inline-block; border: 0; }
  .suscripcionwrapper .bloquemail .campo { float: left; width: calc(50% - 20px); margin-right: 20px; }
  .suscripcionwrapper .bloquemail .campo input { width: 100%; }
  .suscripcionwrapper .campo { float: left; width: calc(40% - 20px); margin-right: 20px; }
  .suscripcionwrapper .campo input { width: 100%; }
  .suscripcionwrapper .bloqueredes { display: inline-block; width: 34%; }
  .suscripcionwrapper .botoningresar { float: left; width: 180px; }
  .suscripcionwrapper .botonessocial { width: 100%; }
  .suscripcionwrapper .botonessocial .botoningresafb { width: 100%; }
  .suscripcionwrapper .botonessocial .botoningresatw { width: 100%; }
  .alertaswrapper .bloquecontenido { max-width: 100%; padding-left: 30px; padding-right: 30px; }
  .notavideohome { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 10px; }
  .notavideohome .temanotavideo { flex: 0 0 100%; -webkit-flex: 0 0 100%; }
  .notavideohome .copeteobjeto { order: 1; -webkit-order: 1; }
  .notavideohome .elvideo { order: 3; -webkit-order: 3; width: calc(100% - 300px); padding-right: 20px; padding-left: 10px; }
  .notavideohome .notagrande { order: 2; -webkit-order: 2; width: 100%; border: 0; padding-right: 10px; }
  .notavideohome .notasimple { order: 4; -webkit-order: 4; width: 300px; padding-top: 0; padding-left: 0; }
  .notavideohome .notavideohomeespecial { order: 5; -webkit-order: 5; margin-bottom: -30px; }
  .notavideohome .notavideohomeespecial .notasimpleesp { height: 140px; }
  .notahomebomba { padding: 10px; }
  .notahomebomba .notagrande { width: 50%; float: left; border-right: 1px solid #4b4b4b; padding-right: 20px; border-bottom: 0; padding-bottom: 0; }
  .notahomebomba .notagrande .titulo { margin-bottom: 10px; font-size: 34px; font-weight: 700; line-height: 40px; }
  .notahomebomba .notagrande .bajada { width: 100%; float: left; }
  .notahomebomba .notagrande .imagen { width: 100%; float: left; margin-bottom: 10px; }
  .notahomebomba .notagrande .tiemposhare { width: 100%; float: left; position: relative; bottom: unset; right: unset; }
  .notahomebomba .notagrandeultima { padding-left: 20px; padding-right: 10px; border: 0; margin-bottom: 30px; }
  .notahomebomba .masnotasbomba { margin-bottom: 30px; }
  .notahomebomba .masnotasbomba .notamasgrande { width: calc(100% - 315px); height: 330px; border-right: 1px solid #4b4b4b; border-bottom: 0; float: left; padding-right: 20px; padding-top: 0; margin-bottom: 0; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen { margin-bottom: 0; }
  .notahomebomba .masnotasbomba .notamasmediana { width: 305px; float: right; border: 0; padding-bottom: 10px; position: relative; }
  .notahomebomba .masnotasbomba .notamasmediana .titulo { font-size: 17px; line-height: 21px; }
  .notahomebomba .masnotasbomba .notamasmediana .tiemposhare { width: 285px; position: absolute; bottom: 40px; }
  .notahomebomba .masnotasbomba .notasmassimples { padding-top: 30px; border-top: 1px solid #4b4b4b; width: 100%; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple { width: 50%; min-height: 130px; height: auto; float: left; border-bottom: 0; border-right: 1px solid #4b4b4b; padding-right: 20px; padding-bottom: 0; margin-bottom: 0; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple .titulo { font-size: 17px; line-height: 21px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimpleultima { padding-left: 20px; border-right: 0; }
  .notahomebombasimple .notagrande { height: 710px; overflow: hidden; }
  .notahomebombasimple .notagrande .titulo { font-size: 42px; line-height: 46px; font-weight: 700; }
  .bannerverticalnota { background-color: transparent; } }

@media screen and (min-width: 1300px) { .alerta { width: 1280px; }
  .bloquenotas, .objetoexplora { width: 1280px; }
  .cabezalgrande { width: 1280px; }
  .cabezalmobilenv2 { width: 1280px; }
  .desarrollonota { width: 880px; float: left; }
  .desarrollonota .textonota { padding-left: 100px; padding-right: 100px; }
  .desarrollonota .titulonota { font-size: 32px; line-height: 38px; }
  .bannerdoble { width: 880px; }
  .zoomnota { width: 840px; height: auto; float: left; }
  .zoomnota .sliderzoom .wrapperslider { width: 840px; }
  .zoomnota .sliderzoom .wrapperslider .slides .lanotachica .imagen { width: 40%; float: left; margin-right: 15px; }
  .bannertop { width: 1280px; float: none !important; }
  /*.objetosmedio{ width: $doscolumnas; float: right; } .lomasleido{ .items{ column-count:2; } } .zoomnota{ float: right; } .bannerdoble{ float: right !important; }*/
  .alertaswrapper .bloquecontenido .textos .bajadaalerta { width: calc(100% - 270px); display: inline-table; }
  .alertaswrapper .bloquecontenido .textos .botontodos { float: right; width: 250px; text-align: center; }
  .alertaswrapper .bloquecontenido .items { -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2; display: block; }
  .alertaswrapper .bloquecontenido .items .item { display: inline-block; }
  .alertaswrapper .bloquecontenido .items .item .imagen { width: 95px; height: 95px; }
  .alertaswrapper .bloquecontenido .items .item .textos { width: calc(100% - 225px); padding-right: 15px; }
  .alertaswrapper .bloquecontenido .items .item .textos .titulo { font-size: 22px; line-height: 24px; }
  .alertaswrapper .bloquecontenido .items .item .textos .bajada { font-size: 16px; }
  .alertaswrapper .bloquecontenido .items .item .boton { margin-top: 25px; }
  .alertaswrapper .bloquecontenido .items .item .btn-suscripto { margin-top: 25px; }
  .notavideohome .copeteobjeto { flex: 0 0 100%; -webkit-flex: 0 0 100%; margin-bottom: 20px; }
  .notavideohome .notagrande { width: 300px; height: 390px; position: relative; padding-top: 0; }
  .notavideohome .notagrande .titulo { font-size: 28px; line-height: 32px; }
  .notavideohome .notagrande .tiemposhare { width: calc(100% - 20px); position: absolute; bottom: 0; }
  .notavideohome .elvideo { width: calc(100% - 600px); }
  .notavideohome .notasimple { position: relative; height: 390px; }
  .notavideohome .notasimple .tiemposhare { width: calc(100% - 20px); position: absolute; bottom: 0; }
  .notavideohome .notavideohomeespecial { margin-bottom: 0; }
  .notavideohome .notavideohomeespecial .notasimpleesp { height: auto; width: calc(25% - 7px); padding-right: 15px; padding-top: 0; margin-right: 7px; padding-bottom: 0; border-bottom: 0; border-right: 1px solid #4b4b4b; }
  .notavideohome .notavideohomeespecial .notasimpleesp .titulo { min-height: 75px; }
  .notavideohome .notavideohomeespecial .ultima { border: 0; }
  .notahomebomba .masnotasbomba .notamasgrande { width: 50%; padding-top: 0; padding-bottom: 0; }
  .notahomebomba .masnotasbomba .notamasgrande .imagen { width: 50%; margin-bottom: 0; }
  .notahomebomba .masnotasbomba .notamasgrande .bajada { width: calc(50% - 30px); }
  .notahomebomba .masnotasbomba .notamasgrande .titulo { width: calc(50% - 30px); }
  .notahomebomba .masnotasbomba .notamasgrande .tiemposhare { width: calc(50% - 30px); bottom: 30px; }
  .notahomebomba .masnotasbomba .notamasmediana { width: 25%; float: left; padding-left: 20px; padding-right: 20px; padding-bottom: 0; border-right: 1px solid #4b4b4b; }
  .notahomebomba .masnotasbomba .notamasmediana .titulo { font-size: 17px; line-height: 21px; }
  .notahomebomba .masnotasbomba .notamasmediana .tiemposhare { bottom: 30px; }
  .notahomebomba .masnotasbomba .notasmassimples { width: 25%; padding-left: 20px; padding-right: 10px; border-top: 0; padding-top: 0; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple { width: 100%; padding-left: 0; padding-right: 0; height: 155px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #4b4b4b; border-right: 0; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple .titulo { font-size: 17px; line-height: 21px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimple .tiemposhare { bottom: 30px; }
  .notahomebomba .masnotasbomba .notasmassimples .notamassimpleultima { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; } }
