@import "_variables.scss";

@media screen and (max-width: $mq_unacolumna){
	.bloquenotas, 
	.desarrollonota, 
	.objetosmedio, 
	.objetoexplora{
		 
	}
	.briefing .sliderbriefing .wrapperslider,
	.objetozoom .sliderzoom .wrapperslider{
		width: calc(100vw - 20px);
	}
	.notamedianaslider{
		padding-bottom: 40px;
		margin-bottom: 40px;
    	border-bottom: 1px solid #d4d6d7;
    	.notamediana{
			padding-bottom: 10px;
			margin-bottom: 0;
			border:0;
    	}
    	.wrapperslider{
			width: 100vw;
		}
		.swiper-button-next{
			margin-right: 10px;
		}
		.swiper-button-prev{
			margin-left: 10px;
		}
		.swiper-pagination{
			padding-right: 10px;
		}
	}
}
@media screen and (max-width: 320px){
	.filtroderesultados{
		width: 200px;
		.columna{
			.tipofiltro{
				.itemsfiltromitad{
					ul{
						li{
							width: 100%;
						}	
					}
				}
			}
		}
	}
}	
@media screen and (min-width: 500px){
	.menuflotante{
		.wrappermenu{
			.seccionesprincipal{
				width: calc(50% - 15px);
				float: left;
			}
			.seccionessecundarias{
				width: calc(50% - 15px);
				float: right;
			}
		}
	}
}
@media screen and (min-width: $mq_doscolumnas){
	.box{
		height: 340px;
		width: $unacolumna;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		@include separacionObjetosChico;
		overflow: hidden;
		border-bottom: 1px solid #d4d6d7;
	}
	.boxdoble{
		height: 340px;
		width: $doscolumnas;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		@include separacionObjetosChico;
		overflow: hidden;
		border-bottom: 1px solid #d4d6d7;
	}
	.bannerdoble{
		width: $doscolumnas;
		@include separacionObjetosChico;
		border-bottom: 1px solid #d4d6d7;
		padding-bottom: 15px !important;
	}
	.bloquenotas, 
	.desarrollonota, 
	.objetosmedio, 
	.objetoexplora{
		width: $doscolumnas + 20px;
	}
	.contenido {
		.bloquenotas{
			.titulobloque{
				margin-left: 10px;
				text-indent: 0px;
			}
		}
	}
	.redessocialesip{
		//width: 100%;
	}
	.alerta{
		height: 40px;
		.tituloalerta{
			line-height: 40px;
		}
		.textoalerta{
			line-height: 40px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.briefing{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0;
		margin-left: 10px;
		margin-right:10px;
		float: left;
		.tituloseccion{
			padding-top: 10px;
		}
		.sliderbriefing .wrapperslider{
			width: calc(620px/2 - 40px);
		}
	}
	.notamedianaslider .notamediana{
		border:0;
		margin-bottom: 0;
		padding-bottom: 0;
		.volanta{
			@include wideNoPadding;
		}
		.titulo{
			@include wideNoPadding;
			font-size: 19px;
			line-height: 24px;
		}
	}
	.objetozoom{
		width: $doscolumnas;
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		.sliderzoom {
			.wrapperslider{
				width: $doscolumnas - 40px;
			}
		}
	} 
	.notamedianaslider .wrapperslider{
		width: calc(620px / 2 - 10px);
	}
	.notaprincipal1{
		width: $doscolumnas;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	.notaprincipal1 .titulo {
	    margin-bottom: 20px;
	}
	.notaprincipal1 .imagen{
		width: 50%;
		float: left;
		padding-right: 10px;
		margin-bottom: 0px;
	}
	.notaprincipal1 .bajada{
		width: 50%;
		padding-left: 10px;
		padding-right: 0;
		float: left;
		text-align: left;
	}
	.notaprincipal1 .tiemposhare{
		width: 50%;
		padding-left: 10px;
		float: right;
	}
	.tiemposhare{
		@include wideNoPadding;
	}
	.notaschicas{
		.notachica{
			@include separacionNotasChico;
			height: 150px;
			position: relative;
			padding: 0;
			.volanta{
				@include wideNoPadding;
			}
			.titulo{
				@include wideNoPadding;
				font-size: 17px;
				line-height: 21px;
			}
			.tituloangosto{
				padding:0;
				width: calc(80% - 10px);
				font-size: 17px;
				line-height: 21px;
			}
			.imagen{
				margin-left: 10px;
				margin-right: 0;
				img{
					height: 60px;
				}
			}
			.playeraudio{
				@include wideNoPadding;
			}
			.tiemposhare{
				position: absolute;
				bottom: 5px;
			}
		}
	}
	.notamediana{
		padding-bottom: 20px;
		margin-bottom: 30px;
		.volanta{
			@include wideNoPadding;
		}
		.titulo{
			@include wideNoPadding;
			font-size: 19px;
			line-height: 24px;
		}
	}
	.banner{
		padding: 0;
		background-color: transparent;
		float: left;
		@include separacionObjetosChico;
	}
	.bannervertical{
		width: 300px;
		height: 710px;
		padding: 0;
		background-color: transparent;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #d4d6d7;
	}
	.bannerwide{
		width: 100%;
		background-color: lighten($colorPrincipal, 85%);
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.notaopinion {
	    width: calc(50% - 20px);
		margin-right: 10px;
		margin-left: 10px;
	    display: table;
	    @include separacionObjetosChico;
	    .tituloseccion{
			text-indent: 0;
		}
	    .imagen{
	    	margin:10px;
	    	float: left;
	    	width: 40%;
	    }
	    .textos{
	    	padding-top: 10px;
	    	.titulo{
	    		font-size: 20px;
	    		line-height: 23px;
	    	}
	    	.bajada{
	    		font-size: 15px;
	    	}
	    	.autor{
	    		font-size: 15px;
	    	}
	    }
	    .tiemposhare{
	    	padding-left: 10px;
	    	padding-right: 10px;
	    }
	}
	.notainsider{
		.tituloseccion{
			text-indent: 0;
		}
	}
	.notalobocity{
		.tituloseccion{
			text-indent: 0;
		}
	}
	.objetovideo{
		.tituloseccion{
			text-indent: 0;
		}
		.titulo{
			@include wideNoPadding;
			font-size: 17px;
			line-height: 21px;
		}
		.video{
			video{
				height: 165px;
			}
		}
	}
	.objetolomasleido{
		.tituloseccion{
			text-indent: 0;
		}
		.items{
			column-count: 2;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
    		-moz-column-count: 2; /* Firefox */
			.item{
				width: 100%;
				height: 145px;
				display: inline-block;
				.numero{
					padding-left: 0;
					text-align: center;
				}
				.imagen{
					width: 80px;
					margin: 0;
				}
				.textos{
					width: calc(100% - 110px);
				}
			}
		}
	}
	.objetoespecial{
		.tituloseccion{
			text-indent: 0;
		}
		.notagrande{
			width: 40%;
			padding-right: 10px;
			float: left;
			.textos{
				padding-top: 10px;
    			padding-bottom: 10px;
				.titulo{
					font-size: 16px;
					line-height: 19px;
				}
			}
		}
		.notasdobles{
			width: calc(60% + 10px);
			margin-right: -10px;
			margin-top: 0;
			float: left;
			overflow: hidden;
			.notadoble{
				width: 50%;
			}
		}
	}
	.objetofrase{
		.lafrase{
			@include widePadding;
			text-align: center;
		}
		.autor{
			@include widePadding;
			.foto{
				width: 30%;
				float: none;
				margin: 0 auto;
			}
			.nombre{
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}
			.share{
				margin-top: 0;
				float: right;
			}
		}
	}
	.objetoinfografia{
		@include separacionObjetosChico;
		.imagen{
			width: 50%;
			float: left;
			padding-right: 20px;
			padding-left: 10px;
		}
		.titulo{
			font-size: 22px;
			line-height: 27px;
		}
		.tiemposhare{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.objetoeldato{
		position: relative;
		padding-top: 20px;
		.textos{
			.dato{
				width: 100%;
				text-align: center;
				font-size: 100px;
				line-height: 80px;
			}
			.descripcion{
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				margin-top: 20px;
				font-size: 17px;
			}
		}
		.tiemposhare{
			padding-right: 10px;
			padding-left: 10px;
			position: absolute;
			bottom: 20px;
		}
	}
	.objetocomentario{
		position: relative;
		padding-bottom: 20px;
		padding-right: 0;
		padding-left: 0;
		@include separacionObjetosChico;
		.tituloseccion{
			text-indent: 0;
			margin-left: 0;
		}
		.titulo{
			width: 100%;
			padding: 0;
		}
		.bajada{
			width: 100%;
			padding: 0;
		}
		.imagen{
			display: none;
		}
		.tiemposhare{
			position: absolute;
			bottom: 20px;
		}
	}
	.objetorecreo{
		padding-bottom: 0;
		.notagrande{
			width: 60%;
			padding-right: 10px;
			float: left;
		}
		.notasdobles{
			width: 40%;
			float: left;
			margin-top: 0;
			.notadoble{
				width: 100%;
				.textos{
					margin-bottom: 12px;
					padding-bottom: 12px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
	// lo mas leido NOTAS
	.lomasleido{
		.tituloseccion{
			margin-left: 0px;
			text-indent: 0px;
		}
		.items{
			column-count: 2;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
    		-moz-column-count: 2; /* Firefox */
			column-gap: 20px;
			-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    		-moz-column-gap: 20px; /* Firefox */
			display: block;
			.itemmasleido{
				width: 100%;
    			height: 175px;
    			display: inline-block;
    			.titulo{
    				font-size: 17px;
    				line-height: 21px;
    			}
    			.imagen{
    				img{
    					height: 85px;
    				}
    			}
			}
		} 
	} 
	.massobreseccion {
		.titulomasseccion{
			margin-left: 10px;
			text-indent: 0px;
		}
	}
	.objetosinferiores {
		.objetoexplora{
			.tituloseccion{
				margin-left: 0px;
				text-indent: 0px;
			}
		}
	}
	.objetofrase{
		border:0;
	}
	.objetoinfografia{
		border:0;
	}
	.objetolomasleido{
		border:0;
	}
	.objetorelacionadas{
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 30px;
		.items{
			.item{
				width: 25%;
			}
		}
	}
	.filtroderesultados{
		width: 600px;
		.columna{
			width: calc(50% - 30px);
			margin-right: 30px;
		}
	}
	.notagrandevideo{
		width: $doscolumnas - 20px;
		.textos{
			width: 60%;
			padding-left: 20px;
		}
		.video{
			width: 40%;
		}
	}
	.objetopersonaje{
		.titulo{
			padding: 0;
		}
		.bajada{
			padding: 0;
		}
		.imagen{
			display: none;
		}
	}
	.notaprincipalinsider{
		width: $doscolumnas;
		.titulo{
			text-align: left;
		}
		.imagen{
			width: 50%;
			float: left;
		 	padding-right: 10px;
		 	padding-left: 10px;
			margin-bottom: 0px;
		}
		.bajada{
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			float: left;
			text-align: left;
		}
		.tiemposhare {
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			float: right;
		}
	}
	.alertaswrapper{
		.bloquecontenido{
			.items{
				.item{
					.imagen{
						width: 80px;
						height: 80px;
					}
					.textos{
						width: calc(100% - 210px);
						.titulo{
							font-size: 20px;
							line-height: 22px;
						}
					}
				}	
			}
		} 
	} 
	.notavideohome{
		.notagrande{
			width: 60%;
			border-bottom: 0;
			padding-right: 15px;
			border-right: 1px solid #4b4b4b;
			padding-bottom: 0px;
			.titulo{
				font-size: 37px;
				line-height: 40px;
				letter-spacing: -1px;
				padding-bottom: 10px;
			}
		}
		.notasimple{
			width: 40%;
			padding-left: 15px;
		}
		.elvideo{
			margin-bottom: 20px;
		}
		.notavideohomeespecial{
			.notasimpleesp{
				width: 50%;
				float: left;
				height: 150px;
				position: relative;
				.tiemposhare{
					position: absolute;
					bottom: 20px;
					width: calc(100% - 20px);
				}
			}
		}
	}
	.notahomebomba{
		.notagrande{
			position: relative;
			.titulo{
				margin-bottom: 15px;
				font-size: 30px;
				line-height: 34px;
			}
			.bajada{
				width: calc(100% - 310px);
				float: right;
			}
			.imagen{
				width: 290px;
				float: left;
				margin-bottom: 0;
			}
			.tiemposhare{
				width: calc(100% - 330px);
				float: right;
				position: absolute;
				bottom: 40px;
				right: 10px;
			}
		}
		.masnotasbomba{
			.notamasgrande{
				position: relative;
				.imagen{
					width: calc(50% - 10px);
					float: right;
					.imagenwide{
						display: none;
					}
					.imagencuadrada{
						display: block;
						img{
							height: 300px;
							object-fit: cover;
						}
					}
				}
				.volanta{
					width: calc(50% - 10px);
					float: left;
					margin-bottom: 10px;
				}
				.titulo{
					width: calc(50% - 10px);
					float: left;
				}
				.bajada{
					width: calc(50% - 10px);
					float: left;
				}
				.tiemposhare{
					width: calc(50% - 20px);
					float: left;
					position: absolute;
					bottom: 40px;
				}
			}
			.notamasmediana{
				width: 50%;
				height: 330px;
				border-right: 1px solid #4b4b4b;
				float: left;
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
				padding-top: 0;
				position: relative;
				.tiemposhare{
					width: calc(100% - 20px);
					position: absolute;
					bottom: 0px;
				}
			}
			.notasmassimples{
				width: 50%;
				float: left;
				.notamassimple{
					padding-bottom: 0px;
					margin-bottom: 30px;
					position: relative;
					height: 155px;
					.titulo{
						font-size: 17px;
						line-height: 21px;
					}
					.tiemposhare{
						width: calc(100% - 20px);
						position: absolute;
						bottom: 10px;
					}
				}
				.notamassimpleultima{
					margin-bottom: 0;
					padding-bottom: 0;
				}

			}
		}
	}
	.notahomebombapositivo{
		.notagrande{
			//border-right: 1px solid $colorSeparadores;
		}
		.masnotasbomba{
			.notamasmediana{
				border-right: 1px solid $colorSeparadores;
			}
		}
	}
	.notahomebombasimple{
		.notagrande{
			width: $doscolumnas;
			margin-left: 10px;
			margin-right: 10px;
		}
		.notamedianabombasimple{
			margin-bottom: 30px;
			padding-bottom: 0;
			.volanta{
				padding:0;
			}
			.titulo{
				padding: 0;
				font-size: 19px;
				line-height: 24px;
			}
		}
		.notaschicasbombasimple{
			.notachica{
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 0;
				height: 150px;
				position: relative;
				padding: 0;
				.volanta{
					padding:0;
				}
				.titulo{
					padding: 0;
					font-size: 17px;
					line-height: 21px;
				}
			}
		}
		.notaschicasbombasimpleosc{
			padding-top: 15px;
			.notachica{
				padding-bottom: 15px;
				margin-bottom: 15px; 
				border-bottom: 0;
				height: 150px;
				position: relative;
				padding: 0;
				.volanta{
				}
				.titulo{
					font-size: 16px;
					line-height: 20px;
				}
				.tiemposhare{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.notahomemegabomba{
		.notagrande{
			.notaprincipalchica{
				width: 50%;
				height: 350px;
				overflow: hidden;
				float: left;
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0;
				border-right: 1px solid #d4d6d73b;
				overflow: hidden;
			}
			.notasdobleschicas{
				width: 50%;
				height: 350px;
				overflow: hidden;
				float: left;
				padding-top: 10px;
				padding-bottom: 0;
				border-top: 0;
				.notadoblechica{
					width: 100%;
					min-height: 155px;
					border-bottom: 1px solid #d4d6d73b;
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-right: 0;
					position: relative;
					.tiemposhare{
						position: absolute;
						bottom: 10px;
						width: calc(100% - 20px);
					}
				}
				.notadoblechicafinal{
						border-bottom: 0;
						padding-bottom: 0;
						margin-bottom: 0;
				}
			}
		}
		.masnotasbomba{
			border-bottom: 0;
			.notamasgrande{
				position: relative;
				.imagen {
					width: calc(50% - 10px);
					float: right;
					.imagencuadrada {
						display: block;
						img{
							height: 300px;
							object-fit: cover;
						}
					}
					.imagenwide{
						display: none;
					}
				}
				.volanta {
					width: calc(50% - 10px);
					float: left;
					padding-bottom: 10px;
				}
				.titulo {
				    width: calc(50% - 10px);
				    float: left;
				}
				.bajada {
				    width: calc(50% - 10px);
				    float: left;
				}
				.tiemposhare {
					width: calc(50% - 20px);
					float: left;
					position: absolute;
					bottom: 40px;
				}
			}
			.notamasmediana{
				width:50%;
				display: inline-table;
				border-right: 1px solid $colorSeparadores;
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
				.volanta{
					padding-bottom: 3px;
				}
			}
			.notasmassimples{
				width: 50%;
				display: inline-table;
				.notamassimple{
					padding-bottom: 0px;
					margin-bottom: 30px;
					position: relative;
					height: 155px;
					.titulo{
						font-size: 17px;
						line-height: 21px;
					}
					.volanta{
						padding-bottom: 3px;
					}
					.tiemposhare {
						width: calc(100% - 20px);
						position: absolute;
						bottom: 10px;
					}
				}
				.notamassimpleultima{
					margin-bottom: 0;
				}
			}
		}
		.galeriabomba{
			.copetegaleria{
				margin: 10px;
				position: absolute;
				width: auto;
			}
			.contenedorgaleria{
				background-color: transparent;
				width: $doscolumnas + 20px;
				height: $doscolumnas / 2 + 50px;
			}
		}
	}
	.notahomemegabombapositivo{
		.notagrande{
			.notaprincipalchica{
				border-right: 1px solid darken($colorSeparadores, 5%);
			}
			.notasdobleschicas{
				.notadoblechica{
					border-bottom: 1px solid darken($colorSeparadores, 5%);
				}
				.notadoblechicafinal{
					border-bottom: 0;
				}
			}
		}
	}
	.notatematicahome{
		.notagrande{
			.titulo {
				font-size: 37px;
				line-height: 40px;
				letter-spacing: -1px;
				padding-bottom: 10px;
			}
			.imagen{
				width: calc(50% - 10px);
				float: left;
			}
			.bajada{
				width: calc(50% - 10px);
				float: right;
			}
			.tiemposhare{
				width: calc(50% - 10px);
				float: right;
			}
		}
		.notasimple{
			width: 50%;
			float: left;
		}
		.notatematicahomechicas{
			.notasimpleesp{
				width: 50%;
				float: left;
				height: 150px;
				position: relative;
				.tiemposhare{
					position: absolute;
					bottom: 20px;
					width: calc(100% - 20px);
				}
			}
		}
	}
}
@media screen and (min-width: $mq_trescolumnas){
	#compartir{
		width: 600px;
		ul{
			width: 600px;
		}
	}
	#indicenotas{
		width: 600px;
		ul li{
			width: 600px;
		}
	}
	.menuflotante{
		height: auto;
	}
	.cabezalgrande{
		display: block;
		width: $trescolumnas;
	}
	.cabezalmobile{
		.botonmenu{
			background-size: 14px;
    		background-color: white;
    		-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		.botonmenuclose{
			background-size: 14px !important;
		}
		.botonbuscador{
			background-size: 14px;
    		background-color: white;
    		-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
	}
	.cabezalmobilenv2{
		width: $trescolumnas;
		margin: 0 auto;
		border-top: 2px solid $colorPrincipal;
	}
	.alerta{
		width: $trescolumnas;
		margin: 0 auto 40px auto;
	}
	.bloquenotas,  
	.objetoexplora{
		width: $trescolumnas;
	}
	.desarrollonota{
		width: $trescolumnas - 360px;
		float: left;
		.volanta{
			display: table;
		}
	}
	.objetosmedio{
		width: $unacolumna + 20px;
		float: right;
	}
	.lomasleido{
		.items{
			column-count:1;
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
    		-moz-column-count: 1; /* Firefox */
		}
	}
	.objetoespecial{
		width: $doscolumnas;
		height: 340px;
		float: left;
	}
	.objetozoom{
		height: 340px;
		.sliderzoom{
			.wrapperslider{
				.slides{
					.lanotachica{
						.imagen{
							max-height: 125px;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
	.objetolomasleido{
		border:0;
		.items{
			.item{
				height: 120px;
				.textos{
					padding: 0;
					width: calc(100% - 100px);
					.titulo{
						font-size: 16px;
					}
				}
				.imagen{
					width: 60px;
					img{
						height: 60px;
					}
				}
			}
		}
	}
	.objetovideo{
		.video{
			video{
				height: auto;
			}
		}
	}
	.objetorecreo{
		.notagrande{
			width: 50%;
			.imagen{
				max-height: 245px;
				img{
					height: 245px;
					min-height: 245px;
				}
			}
		}
		.notasdobles{
			width: 50%;
			.notadoble{
				.imagen{
					display: none;
				}
			}
		}
	}
	.objetoexplora{
		.listado{
			ul{
				li{
					width: 50%;
					float: left;
				}
			}
		}
	}
	.briefing .sliderbriefing .wrapperslider,
	.objetozoom .sliderzoom .wrapperslider,
	.notamedianaslider .wrapperslider{
		//width: 960px;
	}
	.notaprincipal1{
		.volanta{
			text-align: left;
			padding-left: 0px;
		}
		.titulo{
			text-align: left;
			padding-left: 0px;
		}
	}
	.cabezalmobile{
		background-color:darken($fondoObjetos, 4%);
		border-bottom: 0;
		.seccionesexpandido{
			display: block;
		}
		.logotipo{
			display: none;
		}
		.logotipoblanco{
			display: none;
		}
		.desktop{
			display: block;
		}
	}
	.buscador{
		width: 100%;
	}
	.bannertop{
		width: $trescolumnas;
		float: none !important;
	}
	.rsswrapper{
		.bloque1{
			width: 300px;
			float: left;
			margin-right: 40px;
		}
		.bloque2{
			width: calc(100% - 340px);
			float: left;
			.listaresultados{
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
			    -moz-column-count: 2; /* Firefox */
			    column-count: 2;

			    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
			    -moz-column-gap: 40px; /* Firefox */
			    column-gap: 40px;
			    .item{
			    	padding-bottom: 15px;
			    	margin-bottom: 15px;
			    }
			}
		}
	}
	.buscadorwrapper{
		.listaresultados{
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
			-moz-column-count: 2; /* Firefox */
			column-count: 2;

			-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
			-moz-column-gap: 40px; /* Firefox */
			column-gap: 40px;
			.item{
				min-height: 150px;
			}
		}
	}
	.tituloprincipalseccion{
		font-size: 40px;
		text-indent: 0;
		margin-left: 10px;
		margin-bottom: 45px;
	}
	.suscripcionwrapper{
		.bloquecontenido{
			max-width: 100%;
			padding-left: 30px;
			padding-right: 30px;
			.cajasuscripcion{
				float: left;
				width: calc(100% - 20px);
				ul li{
					width: 50%;
					float: left;
				}
			}
			.botonconfigurartipo{
				text-align: left;
			}
		}
		.bloquemail{
			width: 65%;
			display: inline-block;
			border: 0;
			.campo{
				float: left;
				width: calc(50% - 20px);
				margin-right: 20px;
				input{
					width: 100%;
				}
			}
		}
		.campo{
			float: left;
			width: calc(40% - 20px);
			margin-right: 20px;
			input{
				width: 100%;
			}
		}
		.bloqueredes{
			display: inline-block;
			width: 34%;
		}
		.botoningresar{
			float: left;
			width: 180px;
		}
		.botonessocial{
			width: 100%;
			.botoningresafb{
				width: 100%;
			}
			.botoningresatw{
				width: 100%;
			}
		}
	}
	.alertaswrapper{
		.bloquecontenido{
			max-width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.notavideohome{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		padding:10px;
		.temanotavideo{
			//flex: 0 0 100%;
			//-webkit-flex: 0 0 100%;
		}
		.copeteobjeto{
			order: 1;
			-webkit-order:1;
		}
		.elvideo{
			order:3;
			-webkit-order:3;
			width: calc(100% - 300px);
			padding-right: 20px;
			padding-left: 10px;
		}
		.notagrande{
			order:2;
			-webkit-order:2;
			width: 100%;
			border: 0;
			padding-right: 10px;
		}
		.notasimple{
			order:4;
			-webkit-order:4;
			width: 300px;
			padding-top: 0;
			padding-left: 0;
		}
		.notavideohomeespecial{
			order: 5;
			-webkit-order:5;
			margin-bottom: -30px;
			.notasimpleesp{
				height: 140px;
			}
		}
	}
	.notahomebomba{
		padding:10px;
		.notagrande{
			width: 50%;
			float: left;
			border-right: 1px solid #4b4b4b;
			padding-right: 20px;
			border-bottom: 0;
			padding-bottom: 0;
			.titulo{
				margin-bottom: 10px;
				font-size: 34px;
				font-weight: 700;
				line-height: 40px;
			}
			.bajada{
				width: 100%;
				float: left;
			}
			.imagen{
				width: 100%;
				float: left;
				margin-bottom: 10px;
			}
			.tiemposhare{
				width: 100%;
				float: left;
				position: relative;
				bottom: unset;
				right: unset;
			}
		}
		.notagrandeultima{
			padding-left: 20px;
			padding-right: 10px;
			border:0;
			margin-bottom: 30px;
		}
		.masnotasbomba{
			margin-bottom: 30px;
			.notamasgrande{
				width: calc(100% - 315px);
				height: 330px;
				border-right: 1px solid #4b4b4b;
				border-bottom: 0;
				float: left;
				padding-right: 20px;
				padding-top: 0;
				margin-bottom: 0;
				.imagen{
					margin-bottom: 0;
				}
			}
			.notamasmediana{
				width:305px;
				float: right;
				border:0;
				padding-bottom: 10px;
				position: relative;
				.titulo{
					font-size: 17px;
					line-height: 21px;
				}
				.tiemposhare {
					width:285px;
					position: absolute;
					bottom: 40px;
				}
			}
			.notasmassimples{
				padding-top: 30px;
				border-top: 1px solid #4b4b4b;
				width: 100%;
				.notamassimple{
					width: 50%;
					min-height: 130px;
					height: auto;
					float: left;
					border-bottom:0;
					border-right: 1px solid #4b4b4b;
					padding-right: 20px;
					padding-bottom: 0;
					margin-bottom: 0;
					.titulo{
						font-size: 17px;
						line-height: 21px;
					}
				}
				.notamassimpleultima{
					padding-left: 20px;
					border-right: 0;
				}
			}
		}
	}
	.notahomebombapositivo{
		.notasgrandes{
			.notagrande{
				border-right: 1px solid $colorSeparadores;
			}
			.notagrandeultima{
				border-right: 0;
			}
		}
		.masnotasbomba{
			.notamasgrande{
				border-right: 1px solid $colorSeparadores;
			}
			.notasmassimples{
				border-top: 1px solid $colorSeparadores;
				.notamassimple{
					border-right: 1px solid $colorSeparadores;
				}
				.notamassimpleultima{
					border-right: none;
				}
			}
		}
	}
	.notahomebombasimple{
		.notagrande{
			height: 710px;
			overflow: hidden;
			.titulo{
				font-size: 42px;
				line-height: 46px;
				font-weight: 700;
			}
		}
	}
	.bannerverticalnota{
		background-color: transparent;
	}

	.notahomemegabomba {
		.notagrande{
			.titulo{
				font-size: 50px;
				line-height: 52px;
				font-weight: 700;
			}
			.imagen{
				width: calc(100% - 320px);
				float: left;
				height: 350px;
				overflow: hidden;
				img{
					height: 350px;
					width: auto;
				}
			}
			.notaprincipalchica{
				width: 300px;
				float: right;
				border:0;
			}
			.notasdobleschicas{
				width: 100%;
				height: auto;
				padding: 10px;
				.notadoblechica{
					width: 50%;
					border-right: 1px solid darken($colorSeparadores, 40%);
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
					display: inline-block;
					min-height: 130px;
				}
				.notadoblechicafinal{
					padding-right: 0px;
					border-right: 0;
					padding-left: 20px;

				}
			}
		}
		.masnotasbomba {
			.notamasgrande{
				width: calc(100% - 315px);
				height: 330px;
				border-right: 1px solid $colorSeparadores;
				border-bottom: 0;
				float: left;
				padding-right: 20px;
				padding-top: 0;
				margin-bottom: 0;
			}
			.notamasmediana{
				width: 305px;
				float: right;
				border: 0;
				padding-bottom: 10px;
				position: relative;
			}
			.notasmassimples{
				padding-top: 30px;
				border-top: 1px solid $colorSeparadores;
				width: 100%;
				.notamassimple {
				    width: 50%;
				    min-height: 110px;
				    height: auto;
				    float: left;
				    border-bottom: 0;
				    border-right: 1px solid $colorSeparadores;
				    padding-right: 20px;
				    padding-bottom: 0;
				    margin-bottom: 0;
				}
				.notamassimpleultima {
					padding-left: 20px;
					border-right: 0;
				}
			}
		}
		.galeriabomba{
			margin-bottom: 10px;
			.contenedorgaleria{
				width: $trescolumnas + 20px;
				height: $trescolumnas / 2 + 75px;
			}
		}
	}
	.notahomemegabombapositivo{
		.notagrande{
			.notasdobleschicas{
				.notadoblechica{
					border-right: 1px solid darken($colorSeparadores, 5%);
				}
				.notadoblechicafinal{
					border-right: 0;
				}
			}
		}
	}
	.notacolor{
		.cabezalmobile{
			background-color:darken($fondoObjetos, 4%);
			border-bottom: 0;
			.botonmenu{
				background-image: url(#{$urlImages}icono-menu.png);
			}
			.logotipo{
				background-image: url(#{$urlImages}logotipo-iprofesional.png);
			}
			.botonbuscador{
				background-image: url(#{$urlImages}icono-buscar.png);
			}
		}
		.contenido{
			background-color: white;
			.bannertop{
				background-color: lighten($colorPrincipal, 85%);
				border-bottom: 0;
			}
			.bloquenotas{
				background-color: white;
				.desarrollonota{
					.titulonota{
						color: $colorPrincipal;
					}
					.topnotacolor{
						background-color: transparent;
						padding-bottom: 0px;
						margin-top: 0px;
						display: table;
						color: $colorPrincipal;
					}
				}
			}
		}
	}
	.notatematicahome{
		padding: 10px;
		position: relative;
		.notagrande{
			width: calc(100% - 305px);
			border-bottom: 0;
			padding-bottom: 0;
			margin-right: 5px;
			padding-right: 15px;
			border-right: 1px solid #4b4b4b;
			.titulo{
				font-size: 36px;
			}
			.imagen{
				width: 100%;
			}
			.bajada{
				width: 100%;
			}
			.tiemposhare{
				width: 100%;
			}
		}
		.notasimple{
			width: 300px;
		}
		.notatematicahomechicas{
			margin-bottom: -30px;
			.notasimpleesp{
				height: 140px;
			}
		}

	}
}
@media screen and (min-width: $mq_cuatrocolumnas){
	.alerta{
		width: $cuatrocolumnas;
	}
	.bloquenotas,  
	.objetoexplora{
		width: $cuatrocolumnas;
	}
	.cabezalgrande{
		width: $cuatrocolumnas;
	}
	.cabezalmobilenv2{
		width: $cuatrocolumnas;
	}
	.desarrollonota{
		width: $cuatrocolumnas - ($unacolumna + 100px);
		float: left;
		.textonota{
			padding-left: 100px;
			padding-right: 100px;
		}
		.titulonota{
			font-size: 32px;
			line-height: 38px;
		}
	}
	.bannerdoble{
		width: $cuatrocolumnas - ($unacolumna + 100px);
	}
	.zoomnota{
		width: $cuatrocolumnas - ($unacolumna + 140px);
		height: auto;
		float: left;
		.sliderzoom{
			.wrapperslider{
				width: $cuatrocolumnas - ($unacolumna + 140px);
				.slides{
					.lanotachica{
						.imagen{
							width: 40%;
							float: left;
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
	.bannertop{
		width: $cuatrocolumnas;
		float: none !important;
	}
	.briefing .sliderbriefing .wrapperslider,
	.objetozoom .sliderzoom .wrapperslider,
	.notamedianaslider .wrapperslider{
		//width: 1280px;
	}
	.alertaswrapper{
		.bloquecontenido{
			.textos{
				.bajadaalerta{
					width: calc(100% - 270px);
					display: inline-table;
				}
				.botontodos{
					float: right;
					width: 250px;
					text-align: center;
				}
			}
			.items{
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
				-moz-column-count: 2; /* Firefox */
				column-count: 2;
				display: block;
				.item{
					display: inline-block;
					.imagen{
						width: 95px;
						height: 95px;
					}
					.textos{
						width: calc(100% - 225px);
						padding-right: 15px;
						.titulo{
							font-size: 22px;
							line-height: 24px;
						}
						.bajada{
							font-size: 16px;
						}
					}
					.boton{
						margin-top: 25px;
					}
					.btn-suscripto{
						margin-top: 25px;
					}
				}	
			}
		} 
	}
	.notavideohome{
		.temanotavideo{
			margin-right: calc(100% - 380px);
		}
		.copeteobjeto{
			//flex: 0 0 100%;
			//-webkit-flex:0 0 100%;
			margin-bottom: 20px;
			margin-right: calc(100% - 400px);
		}
		.notagrande{
			width: 300px;
			height: 390px;
			position: relative;
			padding-top: 0;
			.titulo{
				font-size: 28px;
				line-height: 32px;
			}
			.tiemposhare{
				width: calc(100% - 20px);
				position: absolute;
				bottom: 0;
			}
		}
		.elvideo{
			width: calc(100% - 600px);
		}
		.notasimple{
			position: relative;
			height: 390px;
			.tiemposhare{
				width: calc(100% - 20px);
				position: absolute;
				bottom: 0;
			}
		}
		.notavideohomeespecial{
			margin-bottom: 0;
			.notasimpleesp{
				width: calc(25% - 7px);
				padding-right: 15px;
				padding-top: 0;
				margin-right: 7px;
				padding-bottom: 0;
				border-bottom: 0;
				border-right: 1px solid #4b4b4b;
				margin-bottom: 0;
				.titulo{
					min-height: 75px;
				}
			}
			.ultima{
				border:0;

			}
		}
	}
	.notahomebomba{
		.masnotasbomba{
			.notamasgrande{
				width: 50%;
				padding-top: 0;
				padding-bottom: 0;
				.imagen{
					width: 50%;
					margin-bottom: 0;
				}
				.bajada{
					width: calc(50% - 30px);
				}
				.titulo{
					width: calc(50% - 30px);
				}
				.tiemposhare{
					width: calc(50% - 30px);
					bottom: 30px;
				}
			}
			.notamasmediana{
				width: 25%;
				float: left;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom:0;
				border-right: 1px solid #4b4b4b;
				.titulo{
					font-size: 17px;
					line-height: 21px;
				}
				.tiemposhare{
					bottom: 30px;
				}
			}
			.notasmassimples{
				width: 25%;
				padding-left: 20px;
				padding-right: 10px;
				border-top: 0;
				padding-top: 0;
				.notamassimple{
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					height: 155px;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid #4b4b4b;
					border-right: 0;
					.titulo{
						font-size: 17px;
						line-height: 21px;
					}
					.tiemposhare{
						bottom: 30px;
						width: 100%;
					}
				}
				.notamassimpleultima{
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}
	.notahomebombapositivo{
		.masnotasbomba{
			.notamasmediana{
				border-right: 1px solid $colorSeparadores;
			}
			.notasmassimples{
				.notamassimple{
					border-bottom: 1px solid $colorSeparadores;
				}
				.notamassimpleultima{
					border:0;
				}
			}
		}
	}
	.notahomemegabomba{
		.notasgrandes{
			.notagrande{
				.copete{
					padding-bottom: 10px;
				}
				.titulo{
					font-size: 66px;
					line-height: 60px;
					font-weight: 700;
				}
				.bajada{
					padding-left: 10%;
					padding-right: 10%;
					margin-bottom: 40px;
				}
				.imagen{
					width: calc(50% - 20px);
					height: 350px;
					margin-right: 20px;
					overflow: hidden;
				}
				.notaprincipalchica{
					width: 25%;
					height: 350px;
					float: left;
					border-right: 1px solid darken($colorSeparadores, 40%);
					padding: 20px;
					.titulochicoppl{
						font-size: 22px;
						line-height: 25px;
					}
				}
				.notasdobleschicas{
					width: 25%;
					height: 350px;
					float: left;
					padding: 20px;
					margin-bottom: 0;
					.notadoblechica{
						width: 100%;
						height: 135px;
						padding-right: 0;
						padding-left: 0;
						margin-bottom: 20px;
						border-right: 0;
						position: relative;
						.titulochico{
							font-size: 17px;
							line-height: 21px;
						}
						.tiemposhare{
							position: absolute;
							bottom: 0px;
							width: 100%;
						}
					}
					.notadoblechicafinal{
						padding-top: 20px;
						height: 155px;
						border-top: 1px solid darken($colorSeparadores, 40%);
						margin-bottom: 0;
					}
				}
			}
		}
		.masnotasbomba{
			padding: 40px 10px;
			.notamasgrande{
				width: 50%;
				padding-left: 0;
				padding-bottom: 0;
				height: 305px;
				.imagen{
					margin-bottom: 0;
				}
				.tiemposhare{
					bottom: 0;
				}
			}
			.notamasmediana{
				width: 25%;
				height: 305px;
				float: left;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 0;
				border-right:1px solid $colorSeparadores;
				position: relative;
				.tiemposhare{
					position: absolute;
					bottom: 0;
					width: calc(100% - 40px);
				}
			}
			.notasmassimples{
				width: 25%;
				float: left;
				padding-left: 20px;
				padding-top: 0;
				border-top:0;
				.notamassimple{
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					height: 147px;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid $colorSeparadores;
					border-right: 0;
					.tiemposhare{
						width: 100%;
					}
				}
				.notamassimpleultima{
					border:0;
				}
			}
		}
		.galeriabomba{
			float: left;
			margin-top: -31px;
			.contenedorgaleria{
				width: $cuatrocolumnas + 20px;
				height: $cuatrocolumnas / 2 + 90px;
			}
		}
	}
	.notahomemegabombapositivo{
		.notasgrandes{
			.notagrande{
				border-bottom: 1px solid $colorSeparadores;
				.notaprincipalchica{
					border-right: 1px solid darken($colorSeparadores, 5%);
				}
				.notasdobleschicas{
					.notadoblechicafinal{
						border-top: 1px solid darken($colorSeparadores, 5%);
					}
				}
			}
		}
	}
	.notatematicahome{
		.notagrande{
			width: 50%;
			min-height: 340px;
			position: relative;
			margin-right: 0;
			.titulo{
				font-size: 38px;
			}
			.imagen{
				width: 285px;
				margin-right: 20px;
				margin-bottom: 0;
			}
			.bajada{
				width: calc(100% - 305px);
			}
			.tiemposhare{
				width: calc(100% - 330px);
				position: absolute;
				bottom: 0px;
				right: 15px;
			}
		}
		.notasimple{
			height: 340px;
			width: 25%;
			position: relative;
			.titulo{
				font-size: 21px;
				line-height: 25px;
			}
			.tiemposhare{
				position: absolute;
				bottom: 0;
				width: calc(100% - 20px);
			}
		}
		.notatematicahomechicas{
			margin-bottom: 0;
			padding-bottom: 20px;
			.notasimpleesp{
				width: 25%;
				padding-right: 15px;
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: 0;
				margin-bottom: 0;
				border-right: 1px solid #4b4b4b;
				.tiemposhare{
					bottom: 10px;
				}
			}
			.ultima{
				border:0;
			}
		}
	}
}