
/* ESTILOS */


.mainwrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #f4f4f5;
	display: table;
	font-family: "Open Sans", Arial;
	.wrappernotas {
		position: relative;
		width: 980px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 40px;
		display: table;
		background-color: white;
	}
}

.wrappernotas {
	.bannerfull {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
		line-height: 0;
	}
	.objetotriogris {
		width: 100%;
		background-color: #f0f0f0;
		border-bottom: solid 2px #d2d3d5;
		margin: 0 auto;
		margin-bottom: 40px;
		display: table;
		.columna {
			width: calc(33% - 20px);
			height: 75px;
			margin-left: 10px;
			margin-right: 10px;
			float: left;
			position: relative;
			.imagen {
				width: calc(33% - 15px);
				float: left;
				line-height: 0px;
				position: absolute;
				left: 0;
				bottom: 0;
				img {
					width: 100%;
					height: auto;
				}
			}
			.texto {
				width: 66%;
				height: 65px;
				margin-left: 33%;
				float: left;
				padding-top: 10px;
				overflow: hidden;
				.titulo {
					width: 100%;
					float: left;
					font-weight: 700;
					font-size: 12px;
					margin-bottom: 5px;
					a {
						color: #293039;
						&:hover {
							opacity: 0.65;
						}
					}
				}
				.bajada {
					width: 100%;
					float: left;
					font-weight: 400;
					font-size: 12px;
					a {
						color: #293039;
						&:hover {
							opacity: 0.65;
						}
					}
				}
			}
		}
		.colinformes {
			width: calc(33% - 20px);
			height: 75px;
			margin-left: 10px;
			margin-right: 10px;
			float: left;
			position: relative;
			.titulo {
				float: left;
				font-weight: 700;
				font-size: 12px;
				margin-top: 6px;
				margin-bottom: 6px;
				background-color: #38404a;
				color: white;
				text-indent: 10px;
				line-height: 24px;
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				a {
					color: white;
				}
				&:hover {
					background-color: #687079;
				}
				a span {
					float: right;
					background-color: #cbcdcf;
					color: #293039;
					text-indent: 10px;
					margin-left: 10px;
					padding-right: 10px;
					line-height: 24px;
				}
			}
			.bajada {
				width: 100%;
				float: left;
				font-weight: 400;
				font-size: 12px;
				a {
					color: #293039;
					&:hover {
						opacity: 0.65;
					}
				}
			}
		}
	}
	.bloquenotas {
		width: 100%;
		margin: 0 auto;
		display: table;
		/*padding-bottom: 30px;*/
		.columna200 {
			width: 200px;
			float: right;
			margin-left: 20px;
			border-left: 1px solid #d4d6d7;
			padding-left: 19px;
			margin-bottom: 40px;
		}
		.columna740 {
			width: 740px;
			float: left;
			/* margin-right: 20px;
      border-right: 1px solid #d4d6d7;
      padding-right: 19px; */
		}
	}
}

.notaprincipalhome_01 {
	width: 100%;
	display: table;
	.colizq {
		width: calc(100% - 220px);
		float: left;
	}
}

/**** BRIEFING ****/

.briefing {
	width: 100%;
	display: table;
	background-color: #293039;
}

.briefingparte2 {
	padding-top: 15px;
}

.briefing {
	a {
		color: white;
		display: block;
		&:hover {
			opacity: 0.8;
		}
	}
	.wrapnotasbriefing {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		float: left;
		color: white;
		font-family: Roboto;
		font-size: 13px;
		line-height: 17px;
	}
	.hora {
		color: #20c0ab;
		font-weight: 700;
	}
	.volanta {
		font-weight: 700;
		color: #abaeb1;
		text-transform: uppercase;
	}
	.nota1 {
		width: 100%;
		float: left;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: solid 1px #3a4149;
		.imagen {
			width: 100%;
			float: left;
			margin-bottom: 8px;
			img {
				width: 100%;
				height: auto;
			}
		}
		h4 a {
			font-weight: 400;
			strong {
				font-weight: 700;
			}
		}
		h5 a {
			font-weight: 400;
			color: #b7b9bb;
			font-size: 13px;
			strong {
				font-weight: 700;
			}
		}
	}
	.notacuadrogris {
		width: calc(100% - 20px);
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.1);
	}
	.comillas {
		font-size: 60px;
		font-family: "Arial Black", "Open Sans";
		line-height: 50px;
		font-weight: 700;
		width: 100%;
		height: 35px;
		opacity: 0.2;
	}
	.notacorchetes {
		width: calc(100% - 8px);
		float: left;
		margin-bottom: 30px;
		border: solid 4px #484f56;
		.textos {
			margin-left: 10px;
			margin-right: 10px;
			width: calc(100% - 20px);
			background-color: blue;
			float: left;
			margin-top: -4px;
			margin-bottom: -4px;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #293039;
		}
		h4 a {
			font-weight: 700;
			font-size: 13px;
			line-height: 17px;
		}
		h5 a {
			font-weight: 400;
			font-size: 13px;
			line-height: 17px;
		}
	}
	.notacentrada {
		width: 100%;
		float: left;
		text-align: center;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: solid 1px #3a4149;
		.imagen {
			width: 90px;
			height: 90px;
			margin-left: calc(50% - 45px);
			margin-bottom: 10px;
			overflow: hidden;
			float: left;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			background-color: white;
			img {
				width: 100%;
				height: auto;
			}
		}
		.autor {
			width: 100%;
			float: left;
			text-align: center;
			margin-bottom: 4px;
			font-size: 12px;
			color: #abaeb1;
		}
		h4 a {
			width: 100%;
			float: left;
			text-align: center;
		}
	}
}

/**** NOTA PRINCIPAL 01 ****/

.notaprincipalhome_01 {
	.colizq {
		.notagrande {
			width: 100%;
			float: left;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #d4d6d7;
			.volanta {
				min-width: 200px;
				float: left;
				background-color: #20c0ab;
				color: white;
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;
				padding-left: 10px;
				line-height: 22px;
				margin-bottom: 20px;
				.facebook {
					float: right;
					background-color: #4e70a8;
					height: 22px;
					width: 22px;
					margin-left: 10px;
					text-align: center;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					&:hover {
						color: #4e70a8;
						background-color: white;
					}
				}
				.twitter {
					float: right;
					background-color: #1ab7ea;
					height: 22px;
					width: 22px;
					text-align: center;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					&:hover {
						color: #1ab7ea;
						background-color: white;
					}
				}
				.google {
					float: right;
					background-color: #dc4a38;
					height: 22px;
					width: 22px;
					text-align: center;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					&:hover {
						color: #dc4a38;
						background-color: white;
					}
				}
			}
			.titulo h1 {
				width: 100%;
				margin-bottom: 20px;
				font-family: WhitneyBold;
				font-size: 30px;
				line-height: 34px;
				letter-spacing: -1.25px;
				font-weight: 500;
				float: left;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #526072;
					}
				}
			}
			.imagen {
				width: 100%;
				float: left;
				margin-bottom: 15px;
				line-height: 0;
				img {
					width: 100%;
					height: auto;
				}
			}
			.bajada h2 {
				width: 100%;
				font-family: Roboto;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				float: left;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #484f56;
					}
					span {
						font-weight: 700;
						margin-right: 5px;
						color: #1fbba6;
					}
				}
			}
		}
		.mininota {
			width: 100%;
			float: left;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #d4d6d7;
			h3 {
				font-family: Roboto;
				font-size: 13px;
				font-weight: 500;
				line-height: 19px;
				color: #293039;
				background-image: url(../images/bullet-verde.png);
				background-repeat: no-repeat;
				background-size: 6px;
				background-position: 5px 7px;
				padding-left: 20px;
				a {
					color: #293039;
					display: block;
					&:hover {
						color: #1ba08e;
					}
				}
			}
		}
		.notamediana {
			width: 100%;
			float: left;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #d4d6d7;
			.volanta {
				width: 100%;
				float: left;
				color: #20c0ab;
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			.titulo h2 {
				width: 100%;
				margin-bottom: 10px;
				font-family: WhitneyBold;
				font-size: 22px;
				line-height: 25px;
				letter-spacing: -0.5px;
				font-weight: 500;
				float: left;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #526072;
					}
				}
			}
			.imagen {
				width: 200px;
				float: left;
				margin-right: 20px;
				padding-top: 5px;
				img {
					width: 100%;
					height: auto;
				}
			}
			.bajada h3 {
				width: 100%;
				font-family: Roboto;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #484f56;
					}
					span {
						font-weight: 700;
						margin-right: 5px;
						color: #1fbba6;
					}
				}
			}
		}
	}
	.colder {
		width: 200px;
		float: right;
		.notamediana {
			width: 100%;
			float: left;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #d4d6d7;
			.volanta {
				float: left;
				background-color: #20c0ab;
				color: white;
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 22px;
				margin-bottom: 13px;
			}
			.titulo h2 {
				width: 100%;
				margin-bottom: 13px;
				font-size: 16px;
				line-height: 21px;
				letter-spacing: -0.75px;
				font-weight: 700;
				float: left;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #526072;
					}
				}
			}
			.imagen {
				width: 100%;
				float: left;
				margin-bottom: 15px;
				padding-top: 5px;
				line-height: 0;
				img {
					width: 100%;
					height: auto;
				}
			}
			.bajada h3 {
				width: 100%;
				font-family: Roboto;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				float: left;
				a {
					display: block;
					color: #293039;
					&:hover {
						color: #484f56;
					}
					span {
						font-weight: 700;
						margin-right: 5px;
						color: #1fbba6;
					}
				}
			}
		}
		.bloqueopinion {
			width: calc(100% - 20px);
			float: left;
			padding: 10px;
			background-color: #f4f5f6;
			margin-bottom: 40px;
			.tituloseccion {
				width: 100%;
				float: left;
				font-family: Alice;
				font-size: 18px;
				line-height: 36px;
				text-align: center;
				margin-bottom: 40px;
				background-color: white;
			}
			.fotopersona {
				width: 100px;
				height: 100px;
				float: left;
				margin-left: 35px;
				margin-bottom: 10px;
				background-color: white;
				border: solid 5px #20c0ab;
				line-height: 0;
				position: relative;
				img {
					width: 100%;
					height: auto;
					position: absolute;
					bottom: 0;
				}
			}
			.volanta {
				width: 100%;
				float: left;
				font-size: 11px;
				font-weight: 600;
				text-align: center;
				color: #606771;
				text-transform: uppercase;
				margin-bottom: 3px;
			}
			.autor {
				width: 100%;
				float: left;
				font-size: 12px;
				line-height: 18px;
				font-weight: 600;
				text-align: center;
				margin-bottom: 10px;
				color: #293039;
				strong {
					font-weight: 800;
				}
			}
			.bajada {
				width: 100%;
				float: left;
				font-size: 13px;
				line-height: 18px;
				text-align: left;
				margin-bottom: 10px;
				font-family: Georgia, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
				font-style: italic;
				a {
					color: #293039;
					display: block;
					&:hover {
						color: #484f56;
					}
				}
				&:first-letter {
					font-size: 65px;
					font-weight: 300;
					float: left;
					padding-right: 5px;
					line-height: 50px;
					font-family: Open Sans;
					font-weight: 400;
					font-style: normal;
				}
			}
		}
	}
}

.sidebar300 {
	width: 300px;
	float: left;
	.notamediana {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			float: left;
			background-color: #20c0ab;
			color: white;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 22px;
			z-index: 1;
			position: relative;
		}
		.titulo h2 {
			width: 100%;
			margin-bottom: 5px;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: -0.75px;
			font-weight: 700;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 100%;
			float: left;
			margin-bottom: 15px;
			margin-top: -22px;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.bajada h3 {
			width: 100%;
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #484f56;
				}
				span {
					font-weight: 700;
					margin-right: 5px;
					color: #1fbba6;
				}
			}
		}
	}
	.banner300x {
		width: 300px;
		height: auto;
		text-align: left;
		float: left;
		margin-bottom: 40px;
		line-height: 0;
		img {
			max-width: 300px;
			height: auto;
		}
	}
}

.centro400 {
	width: 400px;
	float: right;
	.notamediana {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			float: left;
			color: #ff9900;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			line-height: 22px;
			margin-bottom: 5px;
		}
		.titulo h2 {
			width: 100%;
			font-family: WhitneyBold;
			font-size: 22px;
			line-height: 25px;
			letter-spacing: -0.5px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.notamedianavideo {
		width: 100%;
		float: left;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d4d6d7;
		.video-js {
			width: 400px;
			height: 225px;
			float: left;
			background-color: #293039;
			video {
				width: 100%;
				height: auto;
				float: left;
			}
			.vjs-big-play-button {
				border: 0px;
				background-color: #ff9900;
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				&:hover {
					opacity: 0.8;
				}
			}
			.vjs-play-progress:before {
				color: orange;
			}
		}
	}
}

.video-js .vjs-play-progress:after {
	color: orange;
}

.centro400 {
	.notamedianavideo {
		.textos {
			width: calc(100% - 30px);
			padding: 15px;
			float: left;
			background-color: #38404a;
		}
		.volanta {
			width: 100%;
			float: left;
			color: #ff9900;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.titulo h2 {
			width: 100%;
			font-family: WhitneyBold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: -0.5px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: white;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		.imagen {
			width: 100%;
			float: left;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.notamedianareportaje {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			float: left;
			color: white;
			background-color: #293039;
			padding-left: 15px;
			padding-right: 15px;
			border-right: 3px solid #ff9900;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			line-height: 30px;
			margin-top: -30px;
			margin-bottom: 10px;
		}
		.titulo h2 {
			width: 100%;
			font-family: WhitneyBold;
			font-size: 22px;
			line-height: 25px;
			letter-spacing: -0.5px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 100%;
			float: left;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.notachica {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			float: left;
			color: #ff9900;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.titulo h2 {
			width: 100%;
			margin-bottom: 10px;
			font-family: WhitneyBold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: -0.5px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 40%;
			float: left;
			margin-right: 15px;
			padding-top: 5px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.bajada h3 {
			display: table;
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			a {
				display: block;
				color: #293039;
				span {
					font-weight: 700;
					margin-right: 5px;
					color: #ff9900;
				}
			}
		}
	}
}

.columna200 .notamediana {
	width: 100%;
	float: left;
	.imagen {
		width: 100%;
		float: left;
		margin-bottom: 10px;
		line-height: 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	.volanta {
		float: left;
		color: #20c0ab;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 3px;
	}
	.titulo h2 {
		width: 100%;
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: -0.75px;
		font-weight: 700;
		float: left;
		a {
			color: #293039;
			display: block;
			&:hover {
				color: #484f56;
			}
		}
	}
	.bajada h3 {
		width: 100%;
		font-family: Roboto;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		float: left;
		a {
			color: #293039;
			display: block;
			&:hover {
				color: #484f56;
			}
		}
		span {
			font-weight: 700;
			margin-right: 5px;
		}
	}
}

.col300centro {
	width: 300px;
	float: left;
	margin-left: 40px;
}

.col300right {
	width: 300px;
	float: right;
}

.notamediana300 {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	.imagen {
		width: 100%;
		float: left;
		margin-bottom: 10px;
		line-height: 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	.volanta {
		float: left;
		color: #20c0ab;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 3px;
	}
	.titulo h2 {
		width: 100%;
		margin-bottom: 5px;
		font-size: 17px;
		line-height: 22px;
		letter-spacing: -0.75px;
		font-weight: 700;
		float: left;
		a {
			color: #293039;
			display: block;
			&:hover {
				color: #484f56;
			}
		}
	}
	.bajada h3 {
		width: 100%;
		font-family: Roboto;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		float: left;
		a {
			color: #293039;
			display: block;
			&:hover {
				color: #484f56;
			}
		}
		span {
			font-weight: 700;
			margin-right: 5px;
		}
	}
}

.mininota300 {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	.volanta {
		float: left;
		color: #20c0ab;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 3px;
	}
	.titulo h2 {
		width: 100%;
		font-size: 17px;
		line-height: 22px;
		letter-spacing: -0.75px;
		font-weight: 700;
		float: left;
		a {
			color: #293039;
			display: block;
		}
	}
}

.lomasvisto300 {
	width: 100%;
	float: left;
	margin-bottom: 25px;
}

.tituloseccionstandard {
	width: 100%;
	line-height: 40px;
	border-top: 3px solid #1fbba6;
	border-bottom: 2px solid #e7e8e9;
	text-align: center;
	font-family: Alice;
	font-size: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.lomasvisto300 .lista {
	width: 100%;
	float: left;
	ol li {
		width: 100%;
		float: left;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e7e8e9;
		font-family: Roboto;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		span {
			float: left;
			width: 30px;
			font-family: Alice;
			font-size: 40px;
			line-height: 25px;
			color: #bec0c3;
			-webkit-transition: all 0.3s ease-out 0s;
			-moz-transition: all 0.3s ease-out 0s;
			-ms-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}
		a {
			margin-left: 35px;
			display: block;
			color: #293039;
		}
		&:hover > span {
			color: #20c0ab;
		}
	}
}

.col640 {
	width: 640px;
	float: right;
	.notagrande {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			min-width: 200px;
			float: left;
			background-color: #20c0ab;
			color: white;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			padding-left: 10px;
			line-height: 22px;
			margin-bottom: 20px;
			.facebook {
				float: right;
				background-color: #4e70a8;
				height: 22px;
				width: 22px;
				margin-left: 10px;
				text-align: center;
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				&:hover {
					color: #4e70a8;
					background-color: white;
				}
			}
			.twitter {
				float: right;
				background-color: #1ab7ea;
				height: 22px;
				width: 22px;
				text-align: center;
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				&:hover {
					color: #1ab7ea;
					background-color: white;
				}
			}
			.google {
				float: right;
				background-color: #dc4a38;
				height: 22px;
				width: 22px;
				text-align: center;
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				&:hover {
					color: #dc4a38;
					background-color: white;
				}
			}
		}
		.titulo h1 {
			width: 100%;
			margin-bottom: 20px;
			font-family: WhitneyBold;
			font-size: 30px;
			line-height: 34px;
			letter-spacing: -1.25px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 100%;
			float: left;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.bajada {
			width: calc(100% - 30px);
			padding: 15px;
			background-color: #1a212a;
			float: left;
			h2 {
				width: 100%;
				font-family: Roboto;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				float: left;
				a {
					display: block;
					color: white;
					&:hover {
						opacity: 0.85;
					}
					span {
						font-weight: 700;
						margin-right: 5px;
						color: #1fbba6;
					}
				}
			}
		}
	}
	.weekend {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		background-color: #f4f5f6;
		.notas {
			width: calc(100% - 20px);
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 20px;
			float: left;
			.notamediana {
				width: calc(33.3% - 20px);
				margin-left: 10px;
				margin-right: 10px;
				float: left;
				.imagen {
					width: 100%;
					float: left;
					margin-bottom: 7px;
					line-height: 0;
					img {
						width: 100%;
						height: auto;
					}
				}
				.volanta {
					float: left;
					color: #20c0ab;
					font-weight: 700;
					font-size: 12px;
					text-transform: uppercase;
					margin-bottom: 3px;
				}
				.titulo h2 {
					width: 100%;
					margin-bottom: 5px;
					font-size: 14px;
					line-height: 19px;
					font-family: Roboto;
					letter-spacing: -0.25px;
					font-weight: 500;
					float: left;
					a {
						color: #293039;
						display: block;
						&:hover {
							color: #484f56;
						}
					}
				}
				.bajada h3 {
					width: 100%;
					font-family: Roboto;
					font-size: 14px;
					line-height: 20px;
					font-weight: 400;
					float: left;
					a {
						color: #293039;
						display: block;
						&:hover {
							color: #484f56;
						}
					}
					span {
						font-weight: 700;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.lafrasedeldia {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	.titulo h2 a {
		width: 100%;
		float: left;
		text-align: center;
		color: #293039;
		font-size: 28px;
		line-height: 36px;
		letter-spacing: -1px;
		font-family: Roboto;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.fotopersona {
		width: 140px;
		height: 140px;
		float: left;
		margin-left: calc(50% - 75px);
		margin-right: calc(50% - 75px);
		margin-bottom: 20px;
		background-color: white;
		border: solid 5px #20c0ab;
		line-height: 0;
		position: relative;
		img {
			width: 100%;
			height: auto;
			position: absolute;
			bottom: 0;
		}
	}
	.autor {
		width: 100%;
		float: left;
		text-align: center;
		font-family: Roboto;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 3px;
	}
	.cargo {
		width: 100%;
		float: left;
		text-align: center;
		font-family: Roboto;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
	}
}

.recomendadas {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	background-color: #f4f5f6;
	.listarecomendadas {
		width: 100%;
		float: left;
		.item {
			width: calc(100% - 30px);
			padding-left: 15px;
			padding-right: 15px;
			float: left;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: solid 1px #ced0d3;
			.titulo h2 {
				width: 65%;
				float: left;
				font-size: 14px;
				line-height: 19px;
				font-family: Roboto;
				letter-spacing: -0.25px;
				font-weight: 500;
				a {
					color: #293039;
					display: block;
				}
			}
			.imagen {
				width: 30%;
				float: right;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

.objetoseccionespecial {
	width: 100%;
	margin: 0 auto;
	display: table;
	.tituloseccion {
		width: 100%;
		line-height: 40px;
		border-top: 3px solid #293039;
		border-bottom: 2px solid #e7e8e9;
		text-align: left;
		font-family: Alice;
		font-size: 20px;
		margin-bottom: 15px;
		background-color: white;
	}
	.colizq {
		width: calc(50% - 15px);
		float: left;
	}
	.colder {
		width: calc(50% - 15px);
		float: right;
	}
	.notachica {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.volanta {
			float: left;
			color: #ff9900;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.titulo h2 {
			width: 100%;
			margin-bottom: 10px;
			font-family: WhitneyBold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: -0.5px;
			font-weight: 500;
			float: left;
			a {
				display: block;
				color: #293039;
				&:hover {
					color: #526072;
				}
			}
		}
		.imagen {
			width: 40%;
			float: left;
			margin-right: 15px;
			padding-top: 5px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.bajada h3 {
			display: table;
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			a {
				display: block;
				color: #293039;
				span {
					font-weight: 700;
					margin-right: 5px;
					color: #ff9900;
				}
			}
		}
	}
}

.fotogaleriahd {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	.chapagaleria {
		background-color: #1b2026;
		position: absolute;
		z-index: 100;
		margin-top: 10px;
		margin-left: 10px;
		color: white;
		font-weight: 600;
		font-size: 14px;
		.fotogal {
			float: left;
			padding: 10px;
		}
		.hd {
			background-color: #20c0ac;
			float: right;
			padding: 10px;
			font-weight: 800;
		}
	}
	.slidergaleria {
		width: 100%;
		float: left;
		.lafoto {
			width: 100%;
			float: left;
			img {
				width: 100%;
				height: auto;
			}
			span {
				width: 100%;
				background-color: white;
				height: 30px;
				text-align: center;
				display: table;
				font-weight: 700;
			}
		}
	}
}

.objetopastilla {
	width: calc(100% - 40px);
	padding: 20px;
	float: left;
	margin-bottom: 40px;
	background-color: #f4f5f6;
	.colizq {
		width: calc(50% - 15px);
		float: left;
	}
	.colder {
		width: calc(50% - 15px);
		float: right;
	}
	.chapa {
		background-color: #293039;
		display: table;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 15px;
	}
	.titulo h2 {
		width: 100%;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: -1.5px;
		font-weight: 700;
		float: left;
		margin-bottom: 10px;
		a {
			color: #293039;
			display: block;
		}
	}
	.sponsor {
		width: 100%;
		font-size: 13px;
		line-height: 19px;
		float: left;
		margin-bottom: 10px;
		color: #414953;
		a {
			color: #414953;
			display: block;
		}
	}
	.bajada h3 {
		width: 100%;
		font-family: Roboto;
		font-size: 15px;
		line-height: 21px;
		font-weight: 500;
		float: left;
		span {
			font-weight: 700;
			margin-right: 5px;
		}
		a {
			color: #293039;
			display: block;
		}
	}
	.imagen {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		margin-top: -45px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.contenidoparcial {
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 20px;
		a {
			color: #414953;
			display: block;
		}
	}
	.flecha a {
		color: #414953;
		display: block;
		float: right;
		font-size: 20px;
	}
	a:hover {
		opacity: 0.8;
	}
}

.recreo {
	background-color: #20c0ac;
	width: calc(100% - 40px);
	margin-bottom: 40px;
	padding: 20px;
	display: table;
	.nombreseccion {
		width: 100%;
		font-family: Alice;
		margin-bottom: 15px;
		font-size: 20px;
	}
	.lasnotas {
		width: 100%;
		float: left;
		background-color: #191d22;
		.colizq {
			width: 37%;
			float: left;
			.notagrande {
				width: 100%;
				float: left;
				.imagen {
					width: 100%;
					float: left;
					margin-bottom: 15px;
					line-height: 0;
					img {
						width: 100%;
						height: auto;
					}
				}
				.volanta {
					float: left;
					color: #20c0ab;
					font-weight: 700;
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 3px;
					margin-left: 15px;
				}
				.titulo h2 {
					width: calc(100% - 30px);
					padding-left: 15px;
					padding-right: 15px;
					margin-bottom: 5px;
					font-size: 20px;
					line-height: 25px;
					letter-spacing: -1px;
					font-weight: 600;
					float: left;
					a {
						color: white;
						display: block;
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}
		.colcentro {
			width: calc(37% - 30px);
			padding: 15px;
			float: left;
			background-color: #25292f;
			min-height: 335px;
		}
		.colder {
			width: calc(26% - 30px);
			min-height: 335px;
			padding: 15px;
			float: left;
			background-color: #2f343a;

            .notamediana{
                width: 100%;
                float: left;

                .imagen {
                    width: 100%;
                    float: left;
                    margin-bottom: 10px;
                    line-height: 0;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .titulo{
                    h2 {
                        width: 100%;
                        margin-bottom: 5px;
                        font-size: 16px;
                        line-height: 21px;
                        letter-spacing: -.75px;
                        font-weight: 700;
                        float: left;

                        a {
                            color: #fff;
                            display: block;
                        }
                    }
                }
            }
		}
	}
	.colcentro .notachica {
		width: 100%;
		float: left;
		margin-bottom: 25px;
		.volanta {
			float: left;
			width: 100%;
			color: #20c0ab;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.textos {
			width: 100%;
			float: left;
			.imagen {
				width: 33%;
				margin-right: 15px;
				float: left;
				img {
					width: 100%;
					height: auto;
				}
			}
			.titulo h2 {
				font-size: 13px;
				font-weight: 700;
				font-family: Roboto;
				a {
					color: white;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
	.colder .notamediana {
		width: 100%;
		float: left;
		.imagen {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			line-height: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.volanta {
			float: left;
			color: #20c0ab;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			margin-bottom: 3px;
		}
		.titulo h2 {
			width: 100%;
			margin-bottom: 5px;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: -0.75px;
			font-weight: 700;
			float: left;
			a {
				color: white;
				display: block;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		.bajada h3 {
			width: 100%;
			font-family: Roboto;
			font-size: 13px;
			line-height: 18px;
			font-weight: 400;
			float: left;
			a {
				color: white;
				display: block;
				&:hover {
					opacity: 0.8;
				}
			}
			span {
				font-weight: 700;
				margin-right: 5px;
			}
		}
	}
}

#indicenotas {
	width: 600px;
	display: none;
	a {
		color: white;
		font-weight: 600;
		&:hover {
			opacity: 0.8;
		}
		span {
			color: #20c0ac;
		}
	}
	ul li {
		color: white;
		width: 98%;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	}
}

.footerhome {
	.accesosnh {
		.buscador {
			.campo {
				width: 190px;
				background-color: white;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				padding: 3px;
				float: left;
				margin-right: 3px;
				input {
					width: 100%;
					background-color: white;
					border: 0;
					height: 24px;
					line-height: 24px;
					font-size: 13px;
					font-family: "Open Sans";
					text-indent: 10px;
				}
			}
			.boton {
				float: left;
				input {
					float: left;
					height: 30px;
					padding-left: 15px;
					padding-right: 15px;
					background-color: #20c0ac;
					color: white;
					font-weight: 700;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: -0.5px;
					line-height: 30px;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					border: 0;
					cursor: pointer;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					&:hover {
						background-color: #293039;
					}
				}
			}
		}
		.accesoslinks {
			width: calc(50% - 20px);
			margin-right: 20px;
			float: right;
			text-align: right;
			ul {
				float: right;
				li {
					margin-right: 10px;
					padding-right: 10px;
					border-right: solid 1px #b3b7bf;
					height: 30px;
					line-height: 30px;
					float: left;
					color: #293039;
					font-weight: 400;
					font-family: Roboto;
					font-size: 13px;
					a {
						color: #293039;
					}
				}
				.suscribite {
					background-color: #293039;
					border: 0;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					color: white;
					padding-left: 10px;
					margin-right: 0;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					&:hover {
						background-color: #20c0ac;
					}
					a {
						color: white;
					}
				}
			}
		}
	}
	.copyright {
		width: 100%;
		padding-top: 30px;
		font-size: 12px;
		text-align: center;
		padding-bottom: 30px;
		font-weight: 600;
	}
	.redesfooter {
		width: 100%;
		display: table;
		margin-bottom: 20px;
		.wrapperrf {
			width: 980px;
			height: 100%;
			margin: 0 auto;
			ul {
				margin: 0 auto;
				display: table;
				text-align: center;
				li {
					width: 35px;
					height: 35px;
					margin-right: 5px;
					margin-bottom: 10px;
					list-style: none;
					display: inline-table;
					a {
						width: 35px;
						height: 35px;
						background-image: url(../images/redes-colores.png);
						background-size: 235px;
						background-repeat: no-repeat;
						display: block;
					}
				}
				.fb a {
					background-position: 0px;
				}
				.tw a {
					background-position: -40px;
				}
				.gp a {
					background-position: -80px;
				}
				.ln a {
					background-position: -120px;
				}
				.mail a {
					background-position: -200px;
				}
				.app a {
					background-position: 0px;
					background-size: 100%;
					background-image: url(../images/app-android.png);
					width: 106px;
					height: 35px;
				}
			}
		}
	}
}

/**** Ajustes 1024 *****/

@media all and (max-width: 1100px) {
	.wrappersecciones2016ip {
		.seccionesprincipal ul li {
			margin-right: 10px;
			padding-right: 10px;
			font-size: 11px;
		}
		.seccionessecundaria .redessocialesip {
			display: none;
		}
	}
}