@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800);
@font-face {
    font-family: 'WhitneySemibold';
    src: url('../fonts/whitnsem-webfont.eot');
    src: url('../fonts/whitnsem-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitnsem-webfont.woff') format('woff'),
         url('../fonts/whitnsem-webfont.ttf') format('truetype'),
         url('../fonts/whitnsem-webfont.svg#WhitneySemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyBold';
    src: url('../fonts/whitnbol-webfont.eot');
    src: url('../fonts/whitnbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitnbol-webfont.woff') format('woff'),
         url('../fonts/whitnbol-webfont.ttf') format('truetype'),
         url('../fonts/whitnbol-webfont.svg#WhitneyBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyMedium';
    src: url('../fonts/whitnmed-webfont.eot');
    src: url('../fonts/whitnmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitnmed-webfont.woff') format('woff'),
         url('../fonts/whitnmed-webfont.ttf') format('truetype'),
         url('../fonts/whitnmed-webfont.svg#WhitneyMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyLight';
    src: url('../fonts/whitnlig-webfont.eot');
    src: url('../fonts/whitnlig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitnlig-webfont.woff') format('woff'),
         url('../fonts/whitnlig-webfont.ttf') format('truetype'),
         url('../fonts/whitnlig-webfont.svg#WhitneyLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyBook';
    src: url('../fonts/Whitney-Book.eot');
    src: url('../fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Whitney-Book.woff') format('woff'),
         url('../fonts/Whitney-Book.ttf') format('truetype'),
         url('../fonts/Whitney-Book.svg#WhitneyBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
	overflow-x: hidden;	
}
html, body{
	min-height:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
body {
	text-align: left;
	color: #18222c;
	background-color:#eeeff1;
	font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:400;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; 
	text-shadow:1px 1px 1px rgba(0,0,0,0.005);
}

a {
	text-decoration:none;   
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
		 	transition: all 0.3s ease-out 0s;
  /*line-height:0;
  display:table;*/
}

p {
	margin: 0 0 15px;
}

li{
	list-style:none;
}
	
img {
	border: 0;
}
* {
	padding:0px;
	margin:0px;
}
h1, h2, h3{
	font-weight: inherit;
	font-size:inherit;
}
.mainwrapper{
	width:100%;
	margin:0 auto;
	margin-top:90px;
}
/******************************************************************************************************/
.menutopchico{
	width:100%;
	height:50px;
	z-index: 2000;
    position: fixed;
	top:0;
	background-color:#212831;
}
.menutopchico .wrapper{
	max-width: 980px;
    height: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.menutopchico .wrapper .colizq{
	float:left;
	width:70%;
	height:50px;
	overflow:hidden;
}
.menutopchico .wrapper .colder{
	float:right;	
	width:30%;
	height:50px;
	overflow:hidden;
}
.menutopchico .wrapper .botonbuscar a{
	width:26px;
	height:26px;
	margin-top:11px;
	margin-left:10px;
	background-color:#3b424b;
	background-image:url(../images/ondemand/lupa.png);
	background-repeat:no-repeat;
	background-position:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 2px solid #2f363f;
	color:white;
	font-weight:700;
	font-size:11px;
	text-transform:uppercase;
	cursor:pointer;
	float:right;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
		 	transition: all 0.3s ease-out 0s;
}
.menutopchico .wrapper .botonbuscar a:hover{
	background-color:#4f545c;
}
.menutopchico .wrapper .botonregistro a{
	width:100px;
	height:26px;
	margin-top:11px;
	margin-left:10px;
	background-color:#ff9900;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 2px solid #d18218;
	color:white;
	font-weight:700;
	font-size:11px;
	line-height:26px;
	text-transform:uppercase;
	cursor:pointer;
	float:right;
	text-align:center;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
		 	transition: all 0.3s ease-out 0s;
}
.menutopchico .wrapper .botonregistro a:hover{
	background-color:#ffa929;
}
.menutopchico .wrapper .botonsecciones{
	width:110px;
	height:26px;
	margin-top:11px;
	background-color:#3b424b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 2px solid #2f363f;
	color:white;
	font-weight:700;
	font-size:11px;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
	position:absolute;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
		 	transition: all 0.3s ease-out 0s;
}
.menutopchico .wrapper .botonsecciones .texto{
	margin-top:5px;
	margin-left:15px;
	float:left;
	opacity:0.999;
}
.menutopchico .wrapper .botonsecciones .icono{
	margin-top:8px;
	margin-left:10px;
	float:left;
	height:18px;
	width:18px;
	background-image:url(../images/ondemand/icono-secciones.png);
	background-repeat:no-repeat;
}
.menutopchico .wrapper .botonsecciones .cerrar{
	margin-top:8px;
	margin-left:12px;
	float:left;
	height:18px;
	width:18px;
	background-image:url(../images/ondemand/cerrar.png);
	background-repeat:no-repeat;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
		 	transition: all 0.3s ease-out 0s;
}
.menutopchico .wrapper .botonsecciones .cerrar:hover{
	opacity:0.7;
}
.menutopchico .wrapper .botonsecciones:hover{
	background-color:#4f545c;
}
.menutopchico .wrapper #botonabrir{
	z-index:2;
}
.menutopchico .wrapper #botoncerrar{
	z-index:1;
	opacity:0;
}
.menutopchico .wrapper .logo a{
	width:130px;
	height:45px;
	display:block;
	float:left;
	margin-left:130px;
	margin-top:5px;
	background-image:url(../images/ondemand/logotipo-iprofesional.svg);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}
.menutopchico .wrapper .logo a:hover{
	opacity:0.85;
}
.menutopchico .wrapper .tituloespacio{
	height:50px;
	float:left;
	margin-left:20px;
	font-family:"WhitneyBook", Arial;
	font-size:25px;
	color:#ff9900;
	letter-spacing:-0.8px;
	line-height:50px;
	display:none;
}
.menusecciones{
	width: 100%;
    z-index: 2000;
    position: fixed;
    top: 50px;
    background-color: #363e47;	
}
#menusecciones{	
	opacity:0;
	display:none;
	-webkit-transition: all 0.2s ease-out 0s;
	   -moz-transition: all 0.2s ease-out 0s;
	    -ms-transition: all 0.2s ease-out 0s;
	     -o-transition: all 0.2s ease-out 0s;
		 	transition: all 0.2s ease-out 0s;
}
.menusecciones .wrapper{
	max-width: 980px;
    height: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.menusecciones .wrapper .listasuperior{
	width: 100%;
    float: left;
	/*height:26px;*/
	padding-top:10px;
	color: white;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
	border-bottom:solid 1px #4a525a;
	letter-spacing: 0.5px;
	overflow:hidden;
}
.menusecciones .wrapper .listasuperior ul{
	width:100%;
}
.menusecciones .wrapper .listasuperior ul li{
	float:left;	
	margin-right:25px; 
	margin-bottom:10px;
	padding-right:25px;
	border-right:dotted 1px #5f646b;
	opacity:0.999;
}
.menusecciones .wrapper .listasuperior ul li a{
	color:white;
}
.menusecciones .wrapper .listasuperior ul li a:hover{
	opacity:0.8;
}
.menusecciones .wrapper .listasuperior ul .ultimo{
	margin-right:0px; 
	padding-right:0px;
	border:0;
}
.menusecciones .wrapper .listainferior{
	width: 100%;
    float: left;
	height:26px;
	padding-top:10px;
	color: white;
    font-weight: 600;
    font-size: 11px;
	letter-spacing: 0.25px;
	overflow:hidden;
}
.menusecciones .wrapper .listainferior ul li{
    float: left;
	margin-right:15px;
}
.menusecciones .wrapper .listainferior ul li a{
	color: white;
    float: left;
	opacity:0.999;
}
.menusecciones .wrapper .listainferior ul li a:hover{
	opacity:0.8;
}
.menusecciones .wrapper .listainferior ul .ademas{
    float: left;
	height:16px;
	line-height:16px;
	background-color:white;
	color:#212832;
	font-size:10px;
	padding-left:10px;
	padding-right:7px;
	margin-right:0;
}
.arrow_box {
	position: relative;
	background: #FFFFFF;
	margin-top:10px;
	margin-right:20px !important;
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #FFFFFF;
	border-width: 8px;
	margin-top: -10px;
}

.bloquenotas{
	width: 100%;
	margin-top:40px;
    display: table;
}
.bloquenotas .wrapper{
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    /*padding-left: 15px;
    padding-right: 15px;*/
}
.bloquenotas .wrapper .lasnotas{
	width: 100%;
	float:left;	
}
.bloquenotas .wrapper .lasnotas .banner960{
	width: 100%;
	text-align:center;
}
.bloquenotas .wrapper .lasnotas .banner960 img{
	max-width: calc(100vw - 45px);
	height:auto;
}
.bloquenotas .wrapper .lasnotas .colizq{
	float:left;
	width:300px;
}
.bloquenotas .wrapper .lasnotas .colcentro{
	float:left;
	width:300px;
	margin-right:40px;
	margin-left:40px;
}
.bloquenotas .wrapper .lasnotas .colder{
	float:right;
	width:300px;	
}
.bloquenotas .wrapper .lanota {
	width:100%;
	float:left;
	background-color:#f8f8f8;
	border-bottom:2px solid #ced0d4;
	margin-bottom:40px;
}
.bloquenotas .wrapper .lanota .contenedorimagen{
	width:100%;
	float:left;
	position:relative;
}
.compartir{
	display:none;
	position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    width: 40px;
    height: 40px;
    overflow: hidden;	
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
	        transition: all 0.3s ease-out 0s;
}
.compartir:hover{
    height: 120px;
	background-color:#18222c;
}
.compartir .icono{
	height: 40px;
    width: 40px;
	background-image:url(../images/ondemand/redesnegro/share-128.png);
	background-repeat:no-repeat;
	background-size:30px;
	background-position:center;
	cursor:pointer;
}
.compartir .fb a{
	height: 40px;
    width: 40px;
    background-color: #3b5998;
	background-image:url(../images/ondemand/redesblanco/Facebook_alt-48.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:20px;
	display:block;
}
.compartir .fb a:hover{
    background-color: #496fbd;
}
.compartir .tw a{
	height: 40px;
    width: 40px;
    background-color: #55acee;
	background-image:url(../images/ondemand/redesblanco/Twitter_alt-48.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:20px;	
	display:block;
}
.compartir .tw a:hover{
    background-color: #5bb8ff;
}
.bloquenotas .wrapper .lanota .contenedorimagen .imagen{
	width:100%;
	float:left;
}
.bloquenotas .wrapper .lanota .contenedorimagen .imagen img{
	width:100%;
	height:auto;
	float:left;
}
.bloquenotas .wrapper .lanota .textos{
	width: calc(100% - 40px);
	float:left;
	margin-top:-15px;
	margin-left:20px;
	margin-right:20px;
	position:relative;
}
.bloquenotas .wrapper .lanota .textos .chapa{
	height:30px;
	float:left;
	position:relative;
	margin-left:-20px;
	margin-bottom:8px;
}
.bloquenotas .wrapper .lanota .textos .chapa .texto{
	height:30px;
	line-height:30px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	background-color:#293039;
	color:#FFF;
    text-transform: uppercase;
    font-size: 12px;
	font-weight:800;
}
.bloquenotas .wrapper .lanota .textos .volanta{
	width: 100%;
	height:25px;
	float:left;
	text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
	color:#ff9900;
	overflow:hidden;
	opacity:0.999;
}
.bloquenotas .wrapper .lanota .textos .titulo h2 a{
	width:100%;
	float:left;
	color:#18222c;
	font-family:"WhitneySemibold";	
	font-size:20px;
	line-height:24px;
	margin-bottom:10px;
	letter-spacing:-0.5px;
	opacity: 0.999;
}
.bloquenotas .wrapper .lanota .textos .titulo h2 a:hover{
	opacity: 0.8;
}
.bloquenotas .wrapper .lanota .textos .bajada h3 a{
	width:100%;
	max-width: 300px;
	float:left;
	color:#18222c;
	font-weight:600;
	font-size:14px;
	line-height:21px;
	margin-bottom:30px;
	opacity: 0.9;
}
.bloquenotas .wrapper .lanota .textos .bajada h3 a strong{
	font-weight:800;
}
.bloquenotas .wrapper .sidebar{
	width:300px;
	float:left;
	z-index: 100;
    position: relative;
}
.bloquenotas .wrapper .sidebar .banner300x{
	width:300px;
	float:left;
	margin-bottom:40px;
}
.bloquenotas .wrapper .sidebar .suscribite{
	width:300px;
	height:320px;
	float:left;
	margin-bottom:40px;
	background-color:#9ca2aa;
}
.bloquenotas .wrapper .sidebar .suscribite .suscripcion{
	width:260px;
	height:170px;
	float:left;	
	padding:20px;
}
.bloquenotas .wrapper .sidebar .suscribite .suscripcion .titulo{
	width:100%;
	float:left;
	font-size:22px;
	color:white;
	opacity:0.999;
	letter-spacing:-0.25px;
	margin-bottom:15px;
	font-weight:600;
}
.bloquenotas .wrapper .sidebar .suscribite .suscripcion .bajada{
	width:100%;
	float:left;
	font-size:15px;
	color:#181d22;
	opacity:0.999;
	font-weight:600;
	margin-bottom:20px;
}
.bloquenotas .wrapper .sidebar .suscribite .suscripcion .boton a{
	background-color:#293039;
	display:block;
	float:left;
	height:40px;
	line-height:40px;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
	padding-left:15px;
	padding-right:35px;
	color:#FFF;
	background-image:url(../images/ondemand/flechablanca.png);
	background-repeat:no-repeat;
	background-position:125px 15px;
}
.bloquenotas .wrapper .sidebar .suscribite .suscripcion .boton a:hover{
	background-color:#3b424b;	
	background-position:130px 15px;
}
.bloquenotas .wrapper .sidebar .suscribite .redes{
	width:260px;
	height:70px;
	background-color:#293039;
	float:left;
	padding:20px;
}
.bloquenotas .wrapper .sidebar .suscribite .redes .titulo{
	width:100%;
	color:#FFFFFF;
	font-weight:600;
	opacity:0.999;
	margin-bottom:10px;
}
.paginador{
    width: 100%;
    display: table;	
	z-index: 100;
    position: relative;
}
.paginador .wrapper {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #f8f8f8;
    border-bottom: 2px solid #ced0d4;
    margin-bottom: 30px;
	text-align:center;
}
.paginador .wrapper ul{
	margin:0 auto;
	display:table;
	width:100%;
}
.paginador .wrapper ul li{
	display:inline-table;
	min-width:26px;
	margin:2px;	
	font-size:10px;
	font-weight:700;
	text-transform:uppercase;
}
.paginador .wrapper ul li a{
	display:block;
	color:#161a20;
	padding:7px;	
	background-color:#d6d7d9;
}
.paginador .wrapper ul li a:hover{
	background-color:#ff9900;
	color:#FFF;
}
.footer{
	width: 100%;
    display: table;
	background-color:#dbdce0;
}
.footer .wrapper{
	max-width: 980px;
    height: 100%;
    margin: 0 auto;
	padding-top:40px;
	padding-bottom:40px;
    padding-left: 15px;
    padding-right: 15px;
}

.seccionespie{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.seccionespie .colizq{
	width:45%;
	float:left;
}
.seccionespie .colder{
	width:45%;
	float:right;
}
.seccionespie ul li{
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bdbec4;
	font-size:11px;
	font-weight:600;
	background-image: url(../images/ondemand/mas.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.seccionespie ul li a{
	width:100%;
	height:30px;
	display:block;
	line-height:30px;
	color:#293039;
}
.seccionespie ul li a:hover{
	opacity:0.8;
}
.seccionespie ul .titlista{
	background-image:none;
}
.redespie {
	width:100%;
	float:left;
	margin-bottom:26px;
}
.redespie ul li{
	float:left;
	margin-right:5px;
	background-image: url(../images/ondemand/redes.png);
	background-repeat: no-repeat;
	background-size:144px;
	height: 24px;
	width: 24px;
}
.redespie ul li a{
	height: 24px;
	width: 24px;
	display:block;
}
.redespie ul .fb{
	background-position:left top;
}
.redespie ul .tw{
	background-position:-24px top;
}
.redespie ul .gp{
	background-position:-48px top;
}
.redespie ul .in{
	background-position:-72px top;
}
.legalespie {
	width:100%;
	float:left;
	margin-bottom:30px;	
	font-size:11px;
	font-weight:600;
	opacity:0.999;
}
.legalespie p{
	margin-bottom:5px;
}
.legalespie a{
	display:inline;
	color:#4d535a;
}
.redesnota {
	width:100%;
	float:left;
	margin-bottom:35px;
}
.redesnota ul li{
	float:left;
	margin-right:5px;
	background-image: url(../images/ondemand/redes.png);
	background-repeat: no-repeat;
	background-size:216px;
	height: 36px;
	width: 36px;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	     -o-transition: all 0.3s ease-out 0s;
	        transition: all 0.3s ease-out 0s;
}
.redesnota ul li:hover{
	opacity:0.8;
}
.redesnota ul li a{
	height: 36px;
	width: 36px;
	display:block;
}
.redesnota ul .fb{
	background-position:left top;
}
.redesnota ul .tw{
	background-position:-36px top;
}
.redesnota ul .gp{
	background-position:-72px top;
}
.redesnota ul .in{
	background-position:-108px top;
}
.redesnota ul .wa{
	background-position:-96px top;
}
.redesnota ul .mail{
	background-position:-180px top;
}
.tripleimpacto{
	display:none;
}
@media all and (min-width:1300px){
.tripleimpacto{
	width:100%;
	position:fixed;
	top:90px;
	display:block;
}
.tripleimpacto .wrapper{
	max-width: 1340px;
    height: 100%;
    margin: 0 auto;
}
.tripleimpacto .wrapper .lateralizq{
	width:160px;
	height:600px;
	float:left;
	text-align:right;
}
.tripleimpacto .wrapper .lateralder{
	width:160px;
	height:600px;
	float:right;
	text-align:left;
}
}
.bannerpremium{
	width:100%;
	float:left;
	text-align:center;
}
.chapaseccion{
	float:left;
	line-height:27px;
	font-size:27px;
	font-family: "WhitneyMedium", Arial;
	letter-spacing:-1px;
	opacity:0.99;
}
.chapaseccion .naranja{
	color:#ff9900;
	float:left;
	padding-right:17px;
	border-right: 1px solid #c1c5ca;
}
.chapaseccion .gris{
	padding-left:15px;
	color:#212831;
	float:left;
}

#eplAdDivNOTAS_Mobile_Web_300x250_01 {
text-align: center;
margin: auto;
overflow: hidden;
width: 300px;
visibility: visible;
}